force-app/main/default/flows/Case_Team_Assignment.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Case_Team_Central</name>
        <label>Assign Case Team Central</label>
        <locationX>402</locationX>
        <locationY>3071</locationY>
        <assignmentItems>
            <assignToReference>centralTeamId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_Case_Teams.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_Case_Teams</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Case_Team_Lyon</name>
        <label>Assign Case Team Lyon</label>
        <locationX>666</locationX>
        <locationY>3071</locationY>
        <assignmentItems>
            <assignToReference>lyonTeamId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_Case_Teams.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_Case_Teams</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_Central_Q_IDs_to_variable</name>
        <label>assign Central Q IDs to variable</label>
        <locationX>490</locationX>
        <locationY>575</locationY>
        <assignmentItems>
            <assignToReference>centralIDs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loop_Central_Queues.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>centralIDs</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>,</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>get_Central_Members</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_Group_Member_IDs_to_variable</name>
        <label>assign Group Member IDs to variable</label>
        <locationX>578</locationX>
        <locationY>935</locationY>
        <assignmentItems>
            <assignToReference>centralIDs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>centralIdPlusComma</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_Central_Members</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_Lyon_Group_Member_IDs_to_variable</name>
        <label>assign Lyon Group Member IDs to variable</label>
        <locationX>930</locationX>
        <locationY>2207</locationY>
        <assignmentItems>
            <assignToReference>lyonIDs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loop_PublicGroup_Members.UserOrGroupId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>lyonIDs</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>,</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_PublicGroup_Members</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_Lyon_Member_IDs_to_variable</name>
        <label>assign Lyon Member IDs to variable</label>
        <locationX>794</locationX>
        <locationY>1847</locationY>
        <assignmentItems>
            <assignToReference>lyonIDs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>lyonIDplusComma</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_Lyon_Members</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_Lyon_Q_IDs_to_variable</name>
        <label>assign Lyon Q IDs to variable</label>
        <locationX>314</locationX>
        <locationY>1367</locationY>
        <assignmentItems>
            <assignToReference>lyonIDs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>get_Queues_Lyon.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>lyonIDs</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>,</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>get_Lyon_Members</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_to_Collection</name>
        <label>assign to Collection</label>
        <locationX>314</locationX>
        <locationY>3623</locationY>
        <assignmentItems>
            <assignToReference>collectionDelete</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>get_Existing_Team_Assignment</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>collectionDelete</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>get_Existing_Team_Assignment_Lyon</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>check_if_Empty</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Case_Team</name>
        <label>Check Case Team</label>
        <locationX>666</locationX>
        <locationY>2951</locationY>
        <defaultConnector>
            <targetReference>loop_Case_Teams</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Central</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>loop_Case_Teams.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Central Team</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Case_Team_Central</targetReference>
            </connector>
            <label>Central</label>
        </rules>
        <rules>
            <name>Lyon</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>loop_Case_Teams.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Lyon Team</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Case_Team_Lyon</targetReference>
            </connector>
            <label>Lyon</label>
        </rules>
    </decisions>
    <decisions>
        <name>check_if_Empty</name>
        <label>check if Empty</label>
        <locationX>314</locationX>
        <locationY>3743</locationY>
        <defaultConnector>
            <targetReference>Get_Lyon_Record_Type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Has_Records</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>get_Existing_Team_Assignment</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_Existing_Team_Assignment_Lyon</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>delete_Existing_Assignments</targetReference>
            </connector>
            <label>Has Records</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Team</name>
        <label>Check Team</label>
        <locationX>314</locationX>
        <locationY>4319</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CentralTeam</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>centralIDs</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>$Record.OwnerId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Central_Record_Type</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>CentralTeam</label>
        </rules>
        <rules>
            <name>LyonTeam</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>lyonIDs</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>$Record.OwnerId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Lyon_Record_Type</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>LyonTeam</label>
        </rules>
    </decisions>
    <decisions>
        <name>Group_or_User</name>
        <label>Group or User</label>
        <locationX>730</locationX>
        <locationY>1727</locationY>
        <defaultConnector>
            <targetReference>assign_Lyon_Member_IDs_to_variable</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Group</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>loop_Lyon_Members.UserOrGroupId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>00G</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>loop_Group_Members</targetReference>
            </connector>
            <label>Group</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Case Team Assignment {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case Team Assignment</label>
    <loops>
        <name>loop_Case_Teams</name>
        <label>loop Case Teams</label>
        <locationX>314</locationX>
        <locationY>2831</locationY>
        <collectionReference>get_Case_Teams</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_Case_Team</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>get_Existing_Team_Assignment</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>loop_Central_Members</name>
        <label>loop Central Members</label>
        <locationX>490</locationX>
        <locationY>815</locationY>
        <collectionReference>get_Central_Members</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>assign_Group_Member_IDs_to_variable</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>loop_Central_Queues</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>loop_Central_Queues</name>
        <label>loop Central Queues</label>
        <locationX>314</locationX>
        <locationY>455</locationY>
        <collectionReference>get_Queues_Central</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>assign_Central_Q_IDs_to_variable</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>get_Queues_Lyon</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>loop_Group_Members</name>
        <label>loop Lyon Group Members PublicGroup</label>
        <locationX>666</locationX>
        <locationY>1847</locationY>
        <collectionReference>get_Lyon_Members</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>get_Group_Members</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>loop_Lyon_Members</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>loop_Lyon_Members</name>
        <label>loop Lyon Members</label>
        <locationX>314</locationX>
        <locationY>1607</locationY>
        <collectionReference>get_Lyon_Members</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Group_or_User</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>get_Case_Teams</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>loop_PublicGroup_Members</name>
        <label>loop PublicGroup Members</label>
        <locationX>842</locationX>
        <locationY>2087</locationY>
        <collectionReference>get_Group_Members</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>assign_Lyon_Group_Member_IDs_to_variable</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>loop_Group_Members</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Assign_Central_Team</name>
        <label>Assign Central Team</label>
        <locationX>50</locationX>
        <locationY>4559</locationY>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TeamTemplateId</field>
            <value>
                <elementReference>centralTeamId</elementReference>
            </value>
        </inputAssignments>
        <object>CaseTeamTemplateRecord</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Assign_Lyon_Team</name>
        <label>Assign Lyon Team</label>
        <locationX>314</locationX>
        <locationY>4559</locationY>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TeamTemplateId</field>
            <value>
                <elementReference>lyonTeamId</elementReference>
            </value>
        </inputAssignments>
        <object>CaseTeamTemplateRecord</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordDeletes>
        <name>delete_Existing_Assignments</name>
        <label>delete Existing Assignments</label>
        <locationX>182</locationX>
        <locationY>3863</locationY>
        <connector>
            <targetReference>Get_Lyon_Record_Type</targetReference>
        </connector>
        <inputReference>collectionDelete</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>get_Case_Teams</name>
        <label>get Case Teams</label>
        <locationX>314</locationX>
        <locationY>2711</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loop_Case_Teams</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Lyon Team</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Central Team</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>CaseTeamTemplate</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_Central_Members</name>
        <label>get Central Members</label>
        <locationX>490</locationX>
        <locationY>695</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loop_Central_Members</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>GroupId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>loop_Central_Queues.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>GroupMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Central_Record_Type</name>
        <label>Get Central Record Type</label>
        <locationX>314</locationX>
        <locationY>4199</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Team</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CustomerCase</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_Existing_Team_Assignment</name>
        <label>get Existing Team Assignment</label>
        <locationX>314</locationX>
        <locationY>3383</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_Existing_Team_Assignment_Lyon</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>TeamTemplateId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>centralTeamId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CaseTeamTemplateRecord</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_Existing_Team_Assignment_Lyon</name>
        <label>get Existing Team Assignment Lyon</label>
        <locationX>314</locationX>
        <locationY>3503</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>assign_to_Collection</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>TeamTemplateId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>lyonTeamId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CaseTeamTemplateRecord</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_Group_Members</name>
        <label>get Group Members from Public Group</label>
        <locationX>842</locationX>
        <locationY>1967</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loop_PublicGroup_Members</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>GroupId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>loop_Group_Members.UserOrGroupId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>GroupMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_Lyon_Members</name>
        <label>get Lyon Members</label>
        <locationX>314</locationX>
        <locationY>1487</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loop_Lyon_Members</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>GroupId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_Queues_Lyon.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>GroupMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Lyon_Record_Type</name>
        <label>Get Lyon Record Type</label>
        <locationX>314</locationX>
        <locationY>4079</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Central_Record_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Demande_client_Lyon</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_Queues_Central</name>
        <label>get Queues Central</label>
        <locationX>314</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loop_Central_Queues</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3)</filterLogic>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>File_d_attente_Niveau_1</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>File_d_attente_Niveau_2</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_Queues_Lyon</name>
        <label>get Queues Lyon</label>
        <locationX>314</locationX>
        <locationY>1247</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>assign_Lyon_Q_IDs_to_variable</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Service_Client_Lyon</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Central_Record_Type</name>
        <label>Update Central Record Type</label>
        <locationX>50</locationX>
        <locationY>4439</locationY>
        <connector>
            <targetReference>Assign_Central_Team</targetReference>
        </connector>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_Central_Record_Type.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Lyon_Record_Type</name>
        <label>Update Lyon Record Type</label>
        <locationX>314</locationX>
        <locationY>4439</locationY>
        <connector>
            <targetReference>Assign_Lyon_Team</targetReference>
        </connector>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_Lyon_Record_Type.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>get_Queues_Central</targetReference>
        </connector>
        <object>Case</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>centralIdPlusComma</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{!loop_Central_Members.UserOrGroupId},</text>
    </textTemplates>
    <textTemplates>
        <name>lyonGroupMemberIdsPlusComma</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{!loop_Group_Members.UserOrGroupId},</text>
    </textTemplates>
    <textTemplates>
        <name>lyonIDplusComma</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{!loop_Lyon_Members.UserOrGroupId},</text>
    </textTemplates>
    <triggerOrder>1300</triggerOrder>
    <variables>
        <name>caseTeamAssignmentRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CaseTeamTemplateRecord</objectType>
    </variables>
    <variables>
        <name>centralIDs</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>centralTeamId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>collectionDelete</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CaseTeamTemplateRecord</objectType>
    </variables>
    <variables>
        <name>lyonIDs</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>lyonTeamId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
