force-app/main/default/flows/Case_SLA_Scheduled_Actions.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Case_Owner_Notification</name>
        <label>Case Owner Notification</label>
        <locationX>2099</locationX>
        <locationY>222</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>get_Notification_Type.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>recipientId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <elementReference>notifTitle</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>notifBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_SLA_dates_to_collection</name>
        <label>Add SLA dates to collection</label>
        <locationX>776</locationX>
        <locationY>470</locationY>
        <assignmentItems>
            <assignToReference>cSLAdates</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.SLA_OutOfTime_Sch_Action_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>cSLAdates</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.SLA_24h_Sch_Action_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>cSLAdates</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.SLA_48h_Sch_Action_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>cSLAdates</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.SLA_4h_Sch_Action_Date__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Sort_dates_descending</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>The latest datetime before now</description>
        <name>Assign_Date_SLA</name>
        <label>Assign Date SLA</label>
        <locationX>1143</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>LastSLAdate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_SLA_dates</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Which_SLA_field_is_it</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Recipient_Add_to_Collection</name>
        <label>Recipient Add to Collection</label>
        <locationX>1927</locationX>
        <locationY>195</locationY>
        <assignmentItems>
            <assignToReference>recipientId</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Case_Owner_Notification</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>Sort_dates_descending</name>
        <elementSubtype>SortCollectionProcessor</elementSubtype>
        <label>Sort dates descending</label>
        <locationX>777</locationX>
        <locationY>630</locationY>
        <collectionProcessorType>SortCollectionProcessor</collectionProcessorType>
        <collectionReference>cSLAdates</collectionReference>
        <connector>
            <targetReference>Loop_SLA_dates</targetReference>
        </connector>
        <sortOptions>
            <doesPutEmptyStringAndNullFirst>false</doesPutEmptyStringAndNullFirst>
            <sortOrder>Desc</sortOrder>
        </sortOptions>
    </collectionProcessors>
    <decisions>
        <name>Is_before_now</name>
        <label>Is before now?</label>
        <locationX>963</locationX>
        <locationY>786</locationY>
        <defaultConnector>
            <targetReference>Loop_SLA_dates</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Before_now</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_SLA_dates</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDateTime</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_SLA_dates</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Assign_Date_SLA</targetReference>
            </connector>
            <label>Before now</label>
        </rules>
    </decisions>
    <decisions>
        <name>Outoftime_Sent</name>
        <label>Outoftime Sent</label>
        <locationX>1045</locationX>
        <locationY>469</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_0_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SLA_OutOfTime_Sch_Action_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SLA_OutOfTime_Sent__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_current_SLA_Hors</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Which_SLA_field_is_it</name>
        <label>Which SLA field is it?</label>
        <locationX>1289</locationX>
        <locationY>784</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Hors_SLA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LastSLAdate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.SLA_OutOfTime_Sch_Action_Date__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Updade_current_SLA_Hors</targetReference>
            </connector>
            <label>Hors SLA</label>
        </rules>
        <rules>
            <name>X4H</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LastSLAdate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.SLA_4h_Sch_Action_Date__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Updade_current_SLA_4</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>4H</label>
        </rules>
        <rules>
            <name>X24H</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LastSLAdate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.SLA_24h_Sch_Action_Date__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Updade_current_SLA_24</targetReference>
            </connector>
            <label>24H</label>
        </rules>
        <rules>
            <name>X48H</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LastSLAdate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.SLA_48h_Sch_Action_Date__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Updade_current_SLA_48</targetReference>
            </connector>
            <label>48H</label>
        </rules>
    </decisions>
    <decisions>
        <name>X24h_Sent_0_0</name>
        <label>24h Sent</label>
        <locationX>1129</locationX>
        <locationY>205</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SLA_24h_Sch_Action_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SLA_24h_Sent__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_current_SLA_24h</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>X48h_Sent</name>
        <label>48h Sent</label>
        <locationX>1033</locationX>
        <locationY>50</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SLA_48h_Sch_Action_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SLA_48h_Sent__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_current_SLA_48h</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>X4h_Sent</name>
        <label>4h Sent</label>
        <locationX>1160</locationX>
        <locationY>337</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SLA_4h_Sch_Action_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SLA_4h_Sent__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_current_SLA_4h</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Case - SLA - Scheduled Actions {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case - SLA - Scheduled Actions</label>
    <loops>
        <name>Loop_SLA_dates</name>
        <label>Loop SLA dates</label>
        <locationX>779</locationX>
        <locationY>783</locationY>
        <collectionReference>cSLAdates</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Is_before_now</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>get_Notification_Type</name>
        <label>get Notification Type</label>
        <locationX>1761</locationX>
        <locationY>196</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Recipient_Add_to_Collection</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SLA_reminder</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Reset_flow_bypass</name>
        <label>Reset flow bypass</label>
        <locationX>1593</locationX>
        <locationY>500</locationY>
        <connector>
            <targetReference>get_Notification_Type</targetReference>
        </connector>
        <inputAssignments>
            <field>Flow_Bypass__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SLA_OutOfTime_Sent__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Reset_flow_bypass_0</name>
        <label>Reset flow bypass</label>
        <locationX>1858</locationX>
        <locationY>651</locationY>
        <inputAssignments>
            <field>Flow_Bypass__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Updade_current_SLA_24</name>
        <label>Updade current SLA 24</label>
        <locationX>1554</locationX>
        <locationY>843</locationY>
        <inputAssignments>
            <field>Fin_SLA_interne__c</field>
            <value>
                <stringValue>24 H</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Updade_current_SLA_4</name>
        <label>Updade current SLA 4</label>
        <locationX>1638</locationX>
        <locationY>737</locationY>
        <inputAssignments>
            <field>Fin_SLA_interne__c</field>
            <value>
                <stringValue>4 H</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Updade_current_SLA_48</name>
        <label>Updade current SLA 48</label>
        <locationX>1763</locationX>
        <locationY>804</locationY>
        <inputAssignments>
            <field>Fin_SLA_interne__c</field>
            <value>
                <stringValue>48 H</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Updade_current_SLA_Hors</name>
        <label>Updade current SLA Hors</label>
        <locationX>1538</locationX>
        <locationY>660</locationY>
        <connector>
            <targetReference>Update_Status_Hors_Delais_0</targetReference>
        </connector>
        <inputAssignments>
            <field>Fin_SLA_interne__c</field>
            <value>
                <stringValue>Hors SLA</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Flow_Bypass__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_current_SLA_24h</name>
        <label>Update current SLA 24h</label>
        <locationX>1319</locationX>
        <locationY>203</locationY>
        <connector>
            <targetReference>get_Notification_Type</targetReference>
        </connector>
        <inputAssignments>
            <field>Fin_SLA_interne__c</field>
            <value>
                <stringValue>24 H</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SLA_24h_Sent__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_current_SLA_48h</name>
        <label>Update current SLA 48h</label>
        <locationX>1312</locationX>
        <locationY>76</locationY>
        <connector>
            <targetReference>get_Notification_Type</targetReference>
        </connector>
        <inputAssignments>
            <field>Fin_SLA_interne__c</field>
            <value>
                <stringValue>48 H</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SLA_48h_Sent__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_current_SLA_4h</name>
        <label>Update current SLA 4h</label>
        <locationX>1320</locationX>
        <locationY>351</locationY>
        <connector>
            <targetReference>get_Notification_Type</targetReference>
        </connector>
        <inputAssignments>
            <field>Fin_SLA_interne__c</field>
            <value>
                <stringValue>4 H</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SLA_4h_Sent__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_current_SLA_Hors</name>
        <label>Update current SLA Hors</label>
        <locationX>1338</locationX>
        <locationY>503</locationY>
        <connector>
            <targetReference>Update_Status_Hors_Delais</targetReference>
        </connector>
        <inputAssignments>
            <field>Fin_SLA_interne__c</field>
            <value>
                <stringValue>Hors SLA</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Flow_Bypass__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Status_Hors_Delais</name>
        <label>Update Status Hors Delais</label>
        <locationX>1475</locationX>
        <locationY>500</locationY>
        <connector>
            <targetReference>Reset_flow_bypass</targetReference>
        </connector>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Hors délais</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Status_Hors_Delais_0</name>
        <label>Update Status Hors Delais</label>
        <locationX>1741</locationX>
        <locationY>651</locationY>
        <connector>
            <targetReference>Reset_flow_bypass_0</targetReference>
        </connector>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Hors délais</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>651</locationX>
        <locationY>125</locationY>
        <connector>
            <targetReference>Add_SLA_dates_to_collection</targetReference>
        </connector>
        <filterFormula>NOT(ISPICKVAL({!$Record.Status},&quot;Closed&quot;)) &amp;&amp; {!$Record.RecordType.DeveloperName} &lt;&gt;&quot;Demande_client_Lyon&quot; &amp;&amp; NOT ({!$Record.SLA_OutOfTime_Sent__c} == true) &amp;&amp; NOT(ISPICKVAL({!$Record__Prior.Status},&quot;Hors délais&quot;))</filterFormula>
        <object>Case</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <scheduledPaths>
            <name>Hors_Delais_Actions</name>
            <connector>
                <targetReference>Outoftime_Sent</targetReference>
            </connector>
            <label>Hors Delais Actions</label>
            <offsetNumber>1</offsetNumber>
            <offsetUnit>Minutes</offsetUnit>
            <recordField>SLA_OutOfTime_Sch_Action_Date__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <scheduledPaths>
            <name>X4h_Actions</name>
            <connector>
                <targetReference>X4h_Sent</targetReference>
            </connector>
            <label>4h Actions</label>
            <offsetNumber>1</offsetNumber>
            <offsetUnit>Minutes</offsetUnit>
            <recordField>SLA_4h_Sch_Action_Date__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <scheduledPaths>
            <name>X24h_Actions</name>
            <connector>
                <targetReference>X24h_Sent_0_0</targetReference>
            </connector>
            <label>24h Actions</label>
            <offsetNumber>1</offsetNumber>
            <offsetUnit>Minutes</offsetUnit>
            <recordField>SLA_24h_Sch_Action_Date__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <scheduledPaths>
            <name>X48h_Actions</name>
            <connector>
                <targetReference>X48h_Sent</targetReference>
            </connector>
            <label>48h Actions</label>
            <offsetNumber>1</offsetNumber>
            <offsetUnit>Minutes</offsetUnit>
            <recordField>SLA_48h_Sch_Action_Date__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>notifBody</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Il vous reste {!$Record.Fin_SLA_interne__c} du SLA pour traiter cette demande ci-dessous:
Numéro de la demande: {!$Record.CaseNumber}</text>
    </textTemplates>
    <textTemplates>
        <name>notifTitle</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Case SLA Reminder</text>
    </textTemplates>
    <variables>
        <name>cSLAdates</name>
        <dataType>DateTime</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>currentItemFromSourceCollection</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LastSLAdate</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recipientId</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
