force-app/main/default/flows/Case_ServiceNow_Comment_Notification.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Service_Now_New_Comment_Alert</name>
        <label>Service Now - New Comment Alert</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <actionName>Case.Service_Now_New_Comment_Alert</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Case__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.Service_Now_New_Comment_Alert</nameSegment>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Case_Status_Check</name>
        <label>Case Status Check</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Not_Resolved</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Case__r.ServiceNowStatus__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>résolu</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Case__r.ServiceNowStatus__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Résolu</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Service_Now_New_Comment_Alert</targetReference>
            </connector>
            <label>Not Resolved</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Case - ServiceNow Comment Notification {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case - ServiceNow Comment Notification</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Populate_fields</name>
        <label>Populate fields</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <connector>
            <targetReference>Case_Status_Check</targetReference>
        </connector>
        <inputAssignments>
            <field>NoteDate__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ServiceNowId__c</field>
            <value>
                <elementReference>$Record.Case__r.ServiceNowId__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Populate_fields</targetReference>
        </connector>
        <object>Note__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
