force-app/main/default/flows/Case_ServiceNow_Case_Resolved_Notification.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Resolved_Alert</name>
        <label>Send Resolved Alert</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <actionName>Case.Service_Now_Case_Resolved_Alert</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.Service_Now_Case_Resolved_Alert</nameSegment>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Status_Check</name>
        <label>Status Check</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Resolu</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ServiceNowStatus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>résolu</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ServiceNowStatus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Résolu</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Resolved_Alert</targetReference>
            </connector>
            <label>Resolu</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Case - ServiceNow Case Resolved Notification {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case - ServiceNow Case Resolved Notification</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Status_Change_Date</name>
        <label>Update Status Change Date</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <connector>
            <targetReference>Status_Check</targetReference>
        </connector>
        <inputAssignments>
            <field>Service_Now_Status_Update_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Update_Status_Change_Date</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>ServiceNowStatus__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Case</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
