force-app/main/default/flows/Case_Assignment_Web.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Set_File_d_attente_Niveau_1_Id</name>
        <label>Set File_d_attente_Niveau_1 Id</label>
        <locationX>1326</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>File_d_attente_Niveau_1_Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Set_Group_Ids.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Group_Ids</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_File_d_attente_Niveau_2_Id</name>
        <label>Set File_d_attente_Niveau_2 Id</label>
        <locationX>1590</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>File_d_attente_Niveau_2_Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Set_Group_Ids.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Group_Ids</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Demande_li_e_au_site</name>
        <label>Demande liée au site</label>
        <locationX>1238</locationX>
        <locationY>1007</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Demande_li_e_au_site_Cases</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Subject</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Demande liée au site</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Origin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Web</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Demande_li_e_au_site</targetReference>
            </connector>
            <label>Demande liée au site Cases</label>
        </rules>
        <rules>
            <name>Demande_li_e_la_connexion_Cases</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Subject</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Demande liée à la connexion</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Origin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Web</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Demande_li_e_la_connexion</targetReference>
            </connector>
            <label>Demande liée à la connexion Cases</label>
        </rules>
        <rules>
            <name>Demande_li_e_la_carte_U_Cases</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Subject</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Demande liée à la carte U</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Origin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Web</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Demande_li_e_la_carte_U</targetReference>
            </connector>
            <label>Demande liée à la carte U Cases</label>
        </rules>
        <rules>
            <name>Demande_li_e_U_Paiement_Cases</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Subject</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Demande liée à U Paiement</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Origin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Web</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Demande_li_e_U_Paiement</targetReference>
            </connector>
            <label>Demande liée à U Paiement Cases</label>
        </rules>
        <rules>
            <name>Demande_li_e_aux_jeux_Case</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Subject</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Demande liée aux jeux</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Origin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Web</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Demande_li_e_aux_jeux</targetReference>
            </connector>
            <label>Demande liée aux jeux Case</label>
        </rules>
        <rules>
            <name>Demande_li_e_aux_bons_de_r_duction_imprimer_Cases</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Subject</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Demande liée aux bons de réduction à imprimer</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Origin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Web</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Demande_li_e_aux_bons_de_r_duction_imprimer</targetReference>
            </connector>
            <label>Demande liée aux bons de réduction à imprimer Cases</label>
        </rules>
        <rules>
            <name>Code_Promo_Cases</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Subject</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Code Promo</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Origin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Web</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Code_Promo</targetReference>
            </connector>
            <label>Code Promo Cases</label>
        </rules>
        <rules>
            <name>Suppression_de_compte_Cases</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Subject</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Suppression de compte</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Origin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Web</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Suppression_de_compte</targetReference>
            </connector>
            <label>Suppression de compte Cases</label>
        </rules>
        <rules>
            <name>Spersonnelles_Cases</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Subject</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>personnelles</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Origin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Web</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_personnelles</targetReference>
            </connector>
            <label>Spersonnelles Cases</label>
        </rules>
    </decisions>
    <decisions>
        <name>Set_User_Group_Ids</name>
        <label>Set User Group Ids</label>
        <locationX>1590</locationX>
        <locationY>575</locationY>
        <defaultConnector>
            <targetReference>Set_Group_Ids</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_File_d_attente_Niveau_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Set_Group_Ids.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>File_d_attente_Niveau_1</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_File_d_attente_Niveau_1_Id</targetReference>
            </connector>
            <label>Is File_d_attente_Niveau_1</label>
        </rules>
        <rules>
            <name>Is_File_d_attente_Niveau_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Set_Group_Ids.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>File_d_attente_Niveau_2</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_File_d_attente_Niveau_2_Id</targetReference>
            </connector>
            <label>Is File_d_attente_Niveau_2</label>
        </rules>
    </decisions>
    <interviewLabel>Case_Assignment {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case Assignment Web</label>
    <loops>
        <name>Set_Group_Ids</name>
        <label>Set Group Ids</label>
        <locationX>1238</locationX>
        <locationY>455</locationY>
        <collectionReference>Get_Queues</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_User_Group_Ids</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Demande_li_e_au_site</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Queues</name>
        <label>Get Queues</label>
        <locationX>1238</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Group_Ids</targetReference>
        </connector>
        <filterLogic>(1 OR 2) AND 3</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>File_d_attente_Niveau_1</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>File_d_attente_Niveau_2</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Group</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>DeveloperName</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Code_Promo</name>
        <label>Update Code Promo</label>
        <locationX>1634</locationX>
        <locationY>1127</locationY>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>File_d_attente_Niveau_2_Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Demande_li_e_au_site</name>
        <label>Update Demande liée au site</label>
        <locationX>50</locationX>
        <locationY>1127</locationY>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>File_d_attente_Niveau_1_Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Demande_li_e_aux_bons_de_r_duction_imprimer</name>
        <label>Update Demande liée aux bons de réduction à imprimer</label>
        <locationX>1370</locationX>
        <locationY>1127</locationY>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>File_d_attente_Niveau_1_Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Demande_li_e_aux_jeux</name>
        <label>Update Demande liée aux jeux</label>
        <locationX>1106</locationX>
        <locationY>1127</locationY>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>File_d_attente_Niveau_1_Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Demande_li_e_la_carte_U</name>
        <label>Update Demande liée à la carte U</label>
        <locationX>578</locationX>
        <locationY>1127</locationY>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>File_d_attente_Niveau_1_Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Demande_li_e_la_connexion</name>
        <label>Update Demande liée à la connexion</label>
        <locationX>314</locationX>
        <locationY>1127</locationY>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>File_d_attente_Niveau_1_Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Demande_li_e_U_Paiement</name>
        <label>Update Demande liée à U Paiement</label>
        <locationX>842</locationX>
        <locationY>1127</locationY>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>File_d_attente_Niveau_1_Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_personnelles</name>
        <label>Update personnelles</label>
        <locationX>2162</locationX>
        <locationY>1127</locationY>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>File_d_attente_Niveau_2_Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Suppression_de_compte</name>
        <label>Update Suppression de compte</label>
        <locationX>1898</locationX>
        <locationY>1127</locationY>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>File_d_attente_Niveau_2_Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>1112</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Queues</targetReference>
        </connector>
        <object>Case</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>File_d_attente_Niveau_1_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>File_d_attente_Niveau_2_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
