force-app/main/default/flows/CaseSLANotifications.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Reminder_Email_Alert</name>
        <label>Reminder Email Alert</label>
        <locationX>628</locationX>
        <locationY>690</locationY>
        <actionName>Case.SLA_Reminder_Alert</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.SLA_Reminder_Alert</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Reminder_Email_Alert_0</name>
        <label>Reminder Email Alert</label>
        <locationX>1044</locationX>
        <locationY>1253</locationY>
        <actionName>Case.SLA_Reminder_Alert</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Reset_Bypass</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.SLA_Reminder_Alert</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Reminder_Email_Alert_0_0</name>
        <label>Reminder Email Alert</label>
        <locationX>1525</locationX>
        <locationY>1318</locationY>
        <actionName>Case.SLA_Reminder_Alert</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Reset_Bypass_0</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.SLA_Reminder_Alert</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Reminder_Email_Alert_0_0_0</name>
        <label>Reminder Email Alert</label>
        <locationX>2152</locationX>
        <locationY>1206</locationY>
        <actionName>Case.SLA_Reminder_Alert</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Reset_Bypass_0_0</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.SLA_Reminder_Alert</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Reminder_Email_Alert_0_0_0_0</name>
        <label>Reminder Email Alert</label>
        <locationX>1887</locationX>
        <locationY>1261</locationY>
        <actionName>Case.SLA_Reminder_Alert</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Reset_Bypass_0_0</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.SLA_Reminder_Alert</nameSegment>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>CarteU</name>
        <label>Carte U</label>
        <locationX>1121</locationX>
        <locationY>161</locationY>
        <assignmentItems>
            <assignToReference>$Record.Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Carte U</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Type_Picklist</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Compte_CoursesU</name>
        <label>Compte Courses U</label>
        <locationX>684</locationX>
        <locationY>286</locationY>
        <assignmentItems>
            <assignToReference>$Record.Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Compte Courses U</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Type_Picklist</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Compte_Magasins_U</name>
        <label>Compte Magasins U</label>
        <locationX>655</locationX>
        <locationY>149</locationY>
        <assignmentItems>
            <assignToReference>$Record.Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Compte Magasin U</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Type_Picklist</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Eticket</name>
        <label>E-ticket</label>
        <locationX>918</locationX>
        <locationY>352</locationY>
        <assignmentItems>
            <assignToReference>$Record.Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>E-ticket</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Type_Picklist</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>General_Info</name>
        <label>General Info</label>
        <locationX>747</locationX>
        <locationY>413</locationY>
        <assignmentItems>
            <assignToReference>$Record.Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Informations générales</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Type_Picklist</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>RGPD2</name>
        <label>RGPD</label>
        <locationX>558</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>$Record.Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>RGPD</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Type_Picklist</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set24HLSA</name>
        <label>Set24HLSA</label>
        <locationX>147</locationX>
        <locationY>535</locationY>
        <assignmentItems>
            <assignToReference>$Record.Fin_SLA_interne__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>24 H</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.SLA_d_origine__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>24 H</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_SLA_Picklist</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set48HSLA</name>
        <label>Set48HSLA</label>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <assignmentItems>
            <assignToReference>$Record.Fin_SLA_interne__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>48 H</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.SLA_d_origine__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>48 H</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_SLA_Picklist</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set72HSLA</name>
        <label>Set72HSLA</label>
        <locationX>78</locationX>
        <locationY>320</locationY>
        <assignmentItems>
            <assignToReference>$Record.Fin_SLA_interne__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>72 H</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.SLA_d_origine__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>72 H</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_SLA_Picklist</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Case_Closed</name>
        <label>Case Closed?</label>
        <locationX>618</locationX>
        <locationY>1184</locationY>
        <defaultConnector>
            <targetReference>Reminder_Email_Alert_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Open</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Hors_SLA</targetReference>
            </connector>
            <label>Open</label>
        </rules>
    </decisions>
    <decisions>
        <name>Case_Closed_0</name>
        <label>Case Closed?</label>
        <locationX>1656</locationX>
        <locationY>1552</locationY>
        <defaultConnector>
            <targetReference>Reminder_Email_Alert_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Open_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Hors_sla2</targetReference>
            </connector>
            <label>Open</label>
        </rules>
    </decisions>
    <decisions>
        <name>Case_Closed_0_0</name>
        <label>Case Closed?</label>
        <locationX>1925</locationX>
        <locationY>1042</locationY>
        <defaultConnector>
            <targetReference>Reminder_Email_Alert_0_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Open_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Hors_sla3</targetReference>
            </connector>
            <label>Open</label>
        </rules>
    </decisions>
    <decisions>
        <name>CaseType</name>
        <label>CaseType</label>
        <locationX>222</locationX>
        <locationY>135</locationY>
        <defaultConnector>
            <targetReference>Update_SLA_Picklist</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Résultat par défaut</defaultConnectorLabel>
        <rules>
            <name>X72_H</name>
            <conditionLogic>(1 AND 7) OR (2 AND 7) OR (3 AND (7 OR 8 OR 9)) OR (4 AND (7 OR 10)) OR (5 AND (7 OR 11 OR 12 OR 13 OR 14)) OR (6 AND (7 OR 10))</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Compte Magasin U</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Compte Courses U</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Carte U</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>E-ticket</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>RGPD</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Informations générales</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Email_Category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Autre</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Email_Category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Informations générales Carte U / carte virtuelle</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Email_Category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Informations programme fidélité</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Email_Category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Information générales</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Email_Category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Droit de suppression</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Email_Category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Droit de portabilité</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Email_Category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Droit d&apos;accès</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Email_Category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Autre (RGPD)</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set72HSLA</targetReference>
            </connector>
            <label>72H</label>
        </rules>
        <rules>
            <name>X48_H</name>
            <conditionLogic>(1 AND 2) OR (3 AND (4 OR 5 OR 6 OR 7)) OR (8 AND (9 OR 10)) OR (11 AND 12) OR (13 AND (14 OR 15)) OR (16 AND (17 OR 18))</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Compte Magasin U</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Email_Category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Création compte &amp; informations</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Compte Courses U</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Email_Category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Création compte &amp; informations</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Email_Category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Modification / annulation d&apos;une commande</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Email_Category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Modalités paiement commande</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Email_Category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Livraison</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Carte U</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Email_Category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Création Carte U</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Email_Category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Enregistrement / changement carte U</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>E-ticket</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Email_Category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Erreur de configuration / réception ticket</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>RGPD</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Email_Category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Droit de rectification / modification données clients</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Email_Category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Droit d&apos;opposition</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Informations générales</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Email_Category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Demandes hors périmètre</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Email_Category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Suggestions / remarques client</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set48HSLA</targetReference>
            </connector>
            <label>48H</label>
        </rules>
        <rules>
            <name>X24_H</name>
            <conditionLogic>(1 AND (5 OR 6)) OR (2 AND (5 OR 6 OR 7)) OR (3 AND (8 OR 9 OR 10)) OR (4 AND (11 OR 12))</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Compte Magasin U</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Compte Courses U</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Carte U</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Informations générales</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Email_Category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Besoin assistance pour connexion</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Email_Category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Renouvellement / erreur MDP</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Email_Category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Réclamation client sur commande</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Email_Category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Code PIN</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Email_Category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Réclamation</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Email_Category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Fraude</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Email_Category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Participation jeu</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Email_Category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Réclamation / incident client en magasin</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set24HLSA</targetReference>
            </connector>
            <label>24H</label>
        </rules>
    </decisions>
    <decisions>
        <name>Type_Criteria</name>
        <label>Type Criteria</label>
        <locationX>1345</locationX>
        <locationY>356</locationY>
        <defaultConnector>
            <targetReference>Update_Type_Picklist</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Compte_Magasin_U</name>
            <conditionLogic>1 AND 2 AND (3 OR 4)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Subject</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Demande liée à la connexion</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>get_Lyon_Record_Type_to_Exclude.Id</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ISNEW</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Subject</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Demande liée à la connexion</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Compte_Magasins_U</targetReference>
            </connector>
            <label>Compte Magasin U</label>
        </rules>
        <rules>
            <name>Compte_Courses_U</name>
            <conditionLogic>1 AND 2 AND (3 OR 4)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Subject</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Demande liée au site</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>get_Lyon_Record_Type_to_Exclude.Id</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ISNEW</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Subject</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Demande liée au site</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Compte_CoursesU</targetReference>
            </connector>
            <label>Compte Courses U</label>
        </rules>
        <rules>
            <name>Carte_U</name>
            <conditionLogic>1 AND 2 AND (3 OR 4)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Subject</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Demande liée à la carte U</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>get_Lyon_Record_Type_to_Exclude.Id</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ISNEW</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Subject</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Demande liée à la carte U</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CarteU</targetReference>
            </connector>
            <label>Carte U</label>
        </rules>
        <rules>
            <name>E_ticket</name>
            <conditionLogic>1 AND 2 AND (3 OR 4)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Subject</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Demande liée à U Paiement</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>get_Lyon_Record_Type_to_Exclude.Id</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ISNEW</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Subject</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Demande liée à U Paiement</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Eticket</targetReference>
            </connector>
            <label>E-ticket</label>
        </rules>
        <rules>
            <name>RGPD</name>
            <conditionLogic>1 AND 2 AND (3 OR 4)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Subject</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Demande liée aux données personnelles</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>get_Lyon_Record_Type_to_Exclude.Id</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ISNEW</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Subject</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Demande liée aux données personnelles</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>RGPD2</targetReference>
            </connector>
            <label>RGPD</label>
        </rules>
        <rules>
            <name>Informations_g_n_rales</name>
            <conditionLogic>4 AND ((5 AND (1 OR 2 OR 3)) OR (1 AND 6) OR (2 AND 7) OR (3 AND 8))</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Subject</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Demande liée aux jeux</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Subject</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Demande liée aux bons de réduction à imprimer</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Subject</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Code Promo</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>get_Lyon_Record_Type_to_Exclude.Id</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ISNEW</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Subject</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Demande liée aux jeux</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Subject</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Demande liée aux bons de réduction à imprimer</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Subject</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Code Promo</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>General_Info</targetReference>
            </connector>
            <label>Informations générales</label>
        </rules>
    </decisions>
    <decisions>
        <name>X20h_Criteria</name>
        <label>+20h Criteria</label>
        <locationX>956</locationX>
        <locationY>709</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Update_4h_image</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CaseAgeHours</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>20.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CaseAgeHours</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>24.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SLA_d_origine__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>24 H</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>get_Lyon_Record_Type_to_Exclude_0.Id</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_4_SLA</targetReference>
            </connector>
            <label>Update 4h image</label>
        </rules>
    </decisions>
    <decisions>
        <name>X24h_Criteria</name>
        <label>24h Criteria</label>
        <locationX>1054</locationX>
        <locationY>848</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Update_Hors_image</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CaseAgeHours</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>24.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SLA_d_origine__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>24 H</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>get_Lyon_Record_Type_to_Exclude_0_0_0.Id</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Case_Closed</targetReference>
            </connector>
            <label>Update Hors image</label>
        </rules>
        <rules>
            <name>Update_24h_image</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SLA_d_origine__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>48 H</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CaseAgeHours</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>24.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CaseAgeHours</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>44.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>get_Lyon_Record_Type_to_Exclude_0_0_0.Id</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_24_SLA</targetReference>
            </connector>
            <label>Update 24h image</label>
        </rules>
        <rules>
            <name>Update_48h_image</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SLA_d_origine__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>72 H</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CaseAgeHours</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>24.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CaseAgeHours</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>48.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>get_Lyon_Record_Type_to_Exclude_0_0_0.Id</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_48_SLA</targetReference>
            </connector>
            <label>Update 48h image</label>
        </rules>
    </decisions>
    <decisions>
        <name>X44_h_Criteria</name>
        <label>44 h Criteria</label>
        <locationX>1366</locationX>
        <locationY>932</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Update_4h_image2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SLA_d_origine__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>48 H</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CaseAgeHours</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>44.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CaseAgeHours</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>48.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>get_Lyon_Record_Type_to_Exclude_0_0_0_0.Id</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_4_SLA2</targetReference>
            </connector>
            <label>Update 4h image</label>
        </rules>
    </decisions>
    <decisions>
        <name>X48h_Criteria</name>
        <label>48h Criteria</label>
        <locationX>1551</locationX>
        <locationY>920</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Update_Hors_image2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SLA_d_origine__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>48 H</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CaseAgeHours</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>48.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>get_Lyon_Record_Type_to_Exclude_0_0_0_0_0.Id</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Case_Closed_0</targetReference>
            </connector>
            <label>Update Hors image</label>
        </rules>
        <rules>
            <name>Update_24h_image2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SLA_d_origine__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>72 H</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CaseAgeHours</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>68.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CaseAgeHours</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>48.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>get_Lyon_Record_Type_to_Exclude_0_0_0_0_0.Id</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_24_SLA2</targetReference>
            </connector>
            <label>Update 24h image</label>
        </rules>
    </decisions>
    <decisions>
        <name>X68h_Criteria</name>
        <label>68h Criteria</label>
        <locationX>1747</locationX>
        <locationY>822</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Update_4h_image3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SLA_d_origine__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>72 H</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CaseAgeHours</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>68.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CaseAgeHours</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>72.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>get_Lyon_Record_Type_to_Exclude_0_0_0_0_0_0.Id</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_4_SLA3</targetReference>
            </connector>
            <label>Update 4h image</label>
        </rules>
    </decisions>
    <decisions>
        <name>X72_h_Criteria</name>
        <label>72 h Criteria</label>
        <locationX>1912</locationX>
        <locationY>770</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Update_Hors_image3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SLA_d_origine__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>72 H</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CaseAgeHours</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>72.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>get_Lyon_Record_Type_to_Exclude_0_0_0_0_0_0_0.Id</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Case_Closed_0_0</targetReference>
            </connector>
            <label>Update Hors image</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>CaseAgeHours</name>
        <dataType>Number</dataType>
        <expression>(NOW() - {!$Record.CreatedDate}) *24</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>ISNEW</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <formulas>
        <name>SubjectChanged</name>
        <dataType>Boolean</dataType>
        <expression>ISCHANGED({!$Record.Subject})</expression>
    </formulas>
    <interviewLabel>Case - SLA notifications {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case - SLA Notifications</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>get_Lyon_Record_Type_to_Exclude</name>
        <label>get Lyon Record Type to Exclude</label>
        <locationX>1524</locationX>
        <locationY>444</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Type_Criteria</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Demande_client_Lyon</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Case</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_Lyon_Record_Type_to_Exclude_0</name>
        <label>get Lyon Record Type to Exclude</label>
        <locationX>1042</locationX>
        <locationY>528</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>X20h_Criteria</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Demande_client_Lyon</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Case</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_Lyon_Record_Type_to_Exclude_0_0_0</name>
        <label>get Lyon Record Type to Exclude</label>
        <locationX>1190</locationX>
        <locationY>853</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>X24h_Criteria</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Demande_client_Lyon</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Case</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_Lyon_Record_Type_to_Exclude_0_0_0_0</name>
        <label>get Lyon Record Type to Exclude</label>
        <locationX>1290</locationX>
        <locationY>943</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>X44_h_Criteria</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Demande_client_Lyon</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Case</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_Lyon_Record_Type_to_Exclude_0_0_0_0_0</name>
        <label>get Lyon Record Type to Exclude</label>
        <locationX>1495</locationX>
        <locationY>871</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>X48h_Criteria</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Demande_client_Lyon</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Case</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_Lyon_Record_Type_to_Exclude_0_0_0_0_0_0</name>
        <label>get Lyon Record Type to Exclude</label>
        <locationX>1592</locationX>
        <locationY>810</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>X68h_Criteria</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Demande_client_Lyon</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Case</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_Lyon_Record_Type_to_Exclude_0_0_0_0_0_0_0</name>
        <label>get Lyon Record Type to Exclude</label>
        <locationX>1767</locationX>
        <locationY>559</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>X72_h_Criteria</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Demande_client_Lyon</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Case</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Reset_Bypass</name>
        <label>Reset Bypass</label>
        <locationX>1048</locationX>
        <locationY>1472</locationY>
        <inputAssignments>
            <field>Flow_Bypass__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Reset_Bypass_0</name>
        <label>Reset Bypass</label>
        <locationX>1419</locationX>
        <locationY>1606</locationY>
        <inputAssignments>
            <field>Flow_Bypass__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Reset_Bypass_0_0</name>
        <label>Reset Bypass</label>
        <locationX>2056</locationX>
        <locationY>1339</locationY>
        <inputAssignments>
            <field>Flow_Bypass__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Set_24_SLA</name>
        <label>Set 24 SLA</label>
        <locationX>988</locationX>
        <locationY>1006</locationY>
        <connector>
            <targetReference>Reminder_Email_Alert_0</targetReference>
        </connector>
        <inputAssignments>
            <field>Fin_SLA_interne__c</field>
            <value>
                <stringValue>24 H</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Set_24_SLA2</name>
        <label>Set 24 SLA</label>
        <locationX>1646</locationX>
        <locationY>1137</locationY>
        <connector>
            <targetReference>Reminder_Email_Alert_0_0</targetReference>
        </connector>
        <inputAssignments>
            <field>Fin_SLA_interne__c</field>
            <value>
                <stringValue>24 H</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Set_48_SLA</name>
        <label>Set 48 SLA</label>
        <locationX>1132</locationX>
        <locationY>1083</locationY>
        <connector>
            <targetReference>Reminder_Email_Alert_0</targetReference>
        </connector>
        <inputAssignments>
            <field>Fin_SLA_interne__c</field>
            <value>
                <stringValue>48 H</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Set_4_SLA</name>
        <label>Set 4 SLA</label>
        <locationX>763</locationX>
        <locationY>683</locationY>
        <connector>
            <targetReference>Reminder_Email_Alert</targetReference>
        </connector>
        <inputAssignments>
            <field>Fin_SLA_interne__c</field>
            <value>
                <stringValue>4 H</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Set_4_SLA2</name>
        <label>Set 4 SLA</label>
        <locationX>1361</locationX>
        <locationY>1182</locationY>
        <connector>
            <targetReference>Reminder_Email_Alert_0_0</targetReference>
        </connector>
        <inputAssignments>
            <field>Fin_SLA_interne__c</field>
            <value>
                <stringValue>Hors SLA</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Set_4_SLA3</name>
        <label>Set 4 SLA</label>
        <locationX>1780</locationX>
        <locationY>1010</locationY>
        <connector>
            <targetReference>Reminder_Email_Alert_0_0_0_0</targetReference>
        </connector>
        <inputAssignments>
            <field>Fin_SLA_interne__c</field>
            <value>
                <stringValue>4 H</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Hors_delai</name>
        <label>Set Hors delai</label>
        <locationX>881</locationX>
        <locationY>1121</locationY>
        <connector>
            <targetReference>Reminder_Email_Alert_0</targetReference>
        </connector>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Hors délais</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Hors_delai_0</name>
        <label>Set Hors delai</label>
        <locationX>1285</locationX>
        <locationY>1534</locationY>
        <connector>
            <targetReference>Reminder_Email_Alert_0_0</targetReference>
        </connector>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Hors délais</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Hors_delai_0_0</name>
        <label>Set Hors delai</label>
        <locationX>2168</locationX>
        <locationY>946</locationY>
        <connector>
            <targetReference>Reminder_Email_Alert_0_0_0</targetReference>
        </connector>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Hors délais</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Hors_SLA</name>
        <label>Set Hors SLA</label>
        <locationX>716</locationX>
        <locationY>975</locationY>
        <connector>
            <targetReference>Set_Hors_delai</targetReference>
        </connector>
        <inputAssignments>
            <field>Fin_SLA_interne__c</field>
            <value>
                <stringValue>Hors SLA</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Flow_Bypass__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Hors_sla2</name>
        <label>Set Hors sla</label>
        <locationX>1774</locationX>
        <locationY>1403</locationY>
        <connector>
            <targetReference>Set_Hors_delai_0</targetReference>
        </connector>
        <inputAssignments>
            <field>Fin_SLA_interne__c</field>
            <value>
                <stringValue>Hors SLA</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Flow_Bypass__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Hors_sla3</name>
        <label>Set Hors sla</label>
        <locationX>1997</locationX>
        <locationY>910</locationY>
        <connector>
            <targetReference>Set_Hors_delai_0_0</targetReference>
        </connector>
        <inputAssignments>
            <field>Fin_SLA_interne__c</field>
            <value>
                <stringValue>Hors SLA</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Flow_Bypass__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_SLA_Picklist</name>
        <label>Update SLA Picklist</label>
        <locationX>266</locationX>
        <locationY>341</locationY>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Type_Picklist</name>
        <label>Update Type Picklist</label>
        <locationX>570</locationX>
        <locationY>174</locationY>
        <connector>
            <targetReference>CaseType</targetReference>
        </connector>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>1232</locationX>
        <locationY>587</locationY>
        <connector>
            <targetReference>get_Lyon_Record_Type_to_Exclude</targetReference>
        </connector>
        <object>Case</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <scheduledPaths>
            <name>X20h</name>
            <connector>
                <targetReference>get_Lyon_Record_Type_to_Exclude_0</targetReference>
            </connector>
            <label>+20h</label>
            <offsetNumber>20</offsetNumber>
            <offsetUnit>Hours</offsetUnit>
            <recordField>CreatedDate</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <scheduledPaths>
            <name>X24h</name>
            <connector>
                <targetReference>get_Lyon_Record_Type_to_Exclude_0_0_0</targetReference>
            </connector>
            <label>+24h</label>
            <offsetNumber>24</offsetNumber>
            <offsetUnit>Hours</offsetUnit>
            <recordField>CreatedDate</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <scheduledPaths>
            <name>X44h</name>
            <connector>
                <targetReference>get_Lyon_Record_Type_to_Exclude_0_0_0_0</targetReference>
            </connector>
            <label>+44h</label>
            <offsetNumber>44</offsetNumber>
            <offsetUnit>Hours</offsetUnit>
            <recordField>CreatedDate</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <scheduledPaths>
            <name>X48h</name>
            <connector>
                <targetReference>get_Lyon_Record_Type_to_Exclude_0_0_0_0_0</targetReference>
            </connector>
            <label>+48h</label>
            <offsetNumber>48</offsetNumber>
            <offsetUnit>Hours</offsetUnit>
            <recordField>CreatedDate</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <scheduledPaths>
            <name>X68h</name>
            <connector>
                <targetReference>get_Lyon_Record_Type_to_Exclude_0_0_0_0_0_0</targetReference>
            </connector>
            <label>+68h</label>
            <offsetNumber>68</offsetNumber>
            <offsetUnit>Hours</offsetUnit>
            <recordField>CreatedDate</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <scheduledPaths>
            <name>X72h</name>
            <connector>
                <targetReference>get_Lyon_Record_Type_to_Exclude_0_0_0_0_0_0_0</targetReference>
            </connector>
            <label>+72h</label>
            <offsetNumber>72</offsetNumber>
            <offsetUnit>Hours</offsetUnit>
            <recordField>CreatedDate</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <triggerOrder>1600</triggerOrder>
    <variables>
        <name>HoursSLA</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
