force-app/main/default/flows/Case_Paper_Mail_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>56.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_account_count</name>
        <label>Assign account count</label>
        <locationX>1394</locationX>
        <locationY>327</locationY>
        <assignmentItems>
            <assignToReference>accountCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_Accounts_with_Same_Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_email_existing</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignAccountNameAndAddress</name>
        <label>AssignAccountNameAndAddress</label>
        <locationX>1073</locationX>
        <locationY>553</locationY>
        <assignmentItems>
            <assignToReference>accountRecord.FirstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Pr_nom</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>accountRecord.LastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Nomtext</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>accountRecord.PersonMailingCity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Ville</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>accountRecord.PersonMailingCountry</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Pays</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>accountRecord.PersonMailingPostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Code_postal</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>accountRecord.PersonMailingState</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>R_gion_Province</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>accountRecord.PersonMailingStreet</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Rue</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>accountRecord.PersonEmail</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Emailaddress.value</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>getRecordTypeId</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>caseFieldAssignments</name>
        <label>caseFieldAssignments</label>
        <locationX>1875</locationX>
        <locationY>1095</locationY>
        <assignmentItems>
            <assignToReference>caseRecord.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getRecordTypeIdCase.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>caseRecord.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>accountRecord.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>caseRecord.SuppliedEmail</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>caseRecord.Origin</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Case_origin</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>caseRecord.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>accountRecord.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>caseRecord.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Objet</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>caseRecord.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Description</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>createCase</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>caseFieldAssignments_0</name>
        <label>caseFieldAssignments</label>
        <locationX>717</locationX>
        <locationY>1384</locationY>
        <assignmentItems>
            <assignToReference>caseRecord.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getRecordTypeIdCase_0.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>caseRecord.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PersonAccountLookup.recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>caseRecord.SuppliedEmail</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getAccountSelected.PersonEmail</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>caseRecord.Origin</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Case_origin_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>caseRecord.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PersonAccountLookup.recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>caseRecord.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Objet_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>caseRecord.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Description_0</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>createCase_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>caseFieldAssignments_0_0</name>
        <label>caseFieldAssignments</label>
        <locationX>1657</locationX>
        <locationY>885</locationY>
        <assignmentItems>
            <assignToReference>caseRecord.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getRecordTypeIdCase_0_0.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>caseRecord.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>accountRecord.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>caseRecord.SuppliedEmail</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Emailaddress.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>caseRecord.Origin</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Case_origin</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>caseRecord.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>accountRecord.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>caseRecord.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Objet</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>caseRecord.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Description</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>createCase</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>recordTypeAssignment</name>
        <label>recordTypeAssignment</label>
        <locationX>1113</locationX>
        <locationY>703</locationY>
        <assignmentItems>
            <assignToReference>accountRecord.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getRecordTypeId.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>createAccountRecord</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>urls_check</name>
        <label>urls check</label>
        <locationX>1320</locationX>
        <locationY>1142</locationY>
        <assignmentItems>
            <assignToReference>checkUrl</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>caseUrlFormula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>checkUrl</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>accountUrlFormula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>checkUrl</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>baseURL</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Success_screen</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Crer_un_nouveau_client</name>
        <choiceText>Créer un nouveau client</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Créer un nouveau client</stringValue>
        </value>
    </choices>
    <choices>
        <name>S_lectionner_un_client_existant</name>
        <choiceText>Sélectionner un client existant</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Sélectionner un client existant</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Check_user_profile</name>
        <label>Check user profile</label>
        <locationX>960</locationX>
        <locationY>205</locationY>
        <defaultConnector>
            <targetReference>Lyon_error_screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Central</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Profile.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Centrale : Service client Responsable</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Profile.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Centrale : Service Client Team Member Plus</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Profile.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Centrale : Service Client Team Member</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Courier_Papier</targetReference>
            </connector>
            <label>Central</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_email_entered</name>
        <label>Is email entered</label>
        <locationX>1605</locationX>
        <locationY>549</locationY>
        <defaultConnector>
            <targetReference>getAccountAutoNumber</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Email_entered</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsEmailBlank</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getRecordTypeIdCase_0_0</targetReference>
            </connector>
            <label>Email entered</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_email_entered1</name>
        <label>Is email entered</label>
        <locationX>1069</locationX>
        <locationY>387</locationY>
        <defaultConnector>
            <targetReference>AssignAccountNameAndAddress</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsEmailBlank</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Accounts_with_Same_Email</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_email_existing</name>
        <label>Is email existing?</label>
        <locationX>1526</locationX>
        <locationY>389</locationY>
        <defaultConnector>
            <targetReference>AssignAccountNameAndAddress</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>accountCount</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Existing_Email_Error</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Person_Account</name>
        <label>Is Person Account</label>
        <locationX>635</locationX>
        <locationY>805</locationY>
        <defaultConnector>
            <targetReference>nouvelle_demande_screen_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes</defaultConnectorLabel>
        <rules>
            <name>No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getAccountSelected.IsPersonAccount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ErrorChoosePersonAccount</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>What_is_selected</name>
        <label>What is selected?</label>
        <locationX>769</locationX>
        <locationY>330</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>New_account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Selectionner</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Crer_un_nouveau_client</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>New_Account_Screen</targetReference>
            </connector>
            <label>New account</label>
        </rules>
        <rules>
            <name>Existing_account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Selectionner</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>S_lectionner_un_client_existant</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Account_Lookup</targetReference>
            </connector>
            <label>Existing account</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>CaseType</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Type</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Origin</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Origin</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>accountUrlFormula</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Api.Partner_Server_URL_550}, FIND( &apos;/services&apos;, {!$Api.Partner_Server_URL_550})) &amp; {!accountRecord.Id}</expression>
    </formulas>
    <formulas>
        <name>baseURL</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Api.Partner_Server_URL_550}, FIND( &apos;/services&apos;, {!$Api.Partner_Server_URL_550}))</expression>
    </formulas>
    <formulas>
        <name>caseUrlFormula</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Api.Partner_Server_URL_550}, FIND( &apos;/services&apos;, {!$Api.Partner_Server_URL_550})) &amp; {!caseRecord.Id}</expression>
    </formulas>
    <formulas>
        <name>IsEmailBlank</name>
        <dataType>Boolean</dataType>
        <expression>ISBLANK({!Emailaddress.value})</expression>
    </formulas>
    <interviewLabel>Case - Paper Mail Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case - Paper Mail Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>createAccountRecord</name>
        <label>createAccountRecord</label>
        <locationX>1279</locationX>
        <locationY>698</locationY>
        <connector>
            <targetReference>nouvelle_demande_screen</targetReference>
        </connector>
        <inputReference>accountRecord</inputReference>
    </recordCreates>
    <recordCreates>
        <name>createCase</name>
        <label>createCase</label>
        <locationX>1498</locationX>
        <locationY>1047</locationY>
        <connector>
            <targetReference>urls_check</targetReference>
        </connector>
        <inputReference>caseRecord</inputReference>
    </recordCreates>
    <recordCreates>
        <name>createCase_0</name>
        <label>createCase</label>
        <locationX>933</locationX>
        <locationY>1331</locationY>
        <connector>
            <targetReference>Success_screen_0</targetReference>
        </connector>
        <inputReference>caseRecord</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Accounts_with_Same_Email</name>
        <label>Get Accounts with Same Email</label>
        <locationX>1276</locationX>
        <locationY>380</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_account_count</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>PersonEmail</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Emailaddress.value</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getAccountAutoNumber</name>
        <label>getAccountAutoNumber</label>
        <locationX>1815</locationX>
        <locationY>528</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>updateAccountEmail</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>accountRecord.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Autonumber_ReadOnly__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getAccountSelected</name>
        <label>getAccountSelected</label>
        <locationX>635</locationX>
        <locationY>623</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Person_Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>PersonAccountLookup.recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getRecordTypeId</name>
        <label>getRecordTypeId</label>
        <locationX>1191</locationX>
        <locationY>600</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>recordTypeAssignment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Client</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getRecordTypeIdCase</name>
        <label>getRecordTypeIdCase</label>
        <locationX>1935</locationX>
        <locationY>937</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>caseFieldAssignments</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Paper_Mail_Case</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getRecordTypeIdCase_0</name>
        <label>getRecordTypeIdCase</label>
        <locationX>755</locationX>
        <locationY>1244</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>caseFieldAssignments_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Paper_Mail_Case</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getRecordTypeIdCase_0_0</name>
        <label>getRecordTypeIdCase</label>
        <locationX>1616</locationX>
        <locationY>717</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>caseFieldAssignments_0_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Paper_Mail_Case</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>updateAccountEmail</name>
        <label>updateAccountEmail</label>
        <locationX>1923</locationX>
        <locationY>721</locationY>
        <connector>
            <targetReference>getRecordTypeIdCase</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>accountRecord.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>PersonEmail</field>
            <value>
                <elementReference>email</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Account_Lookup</name>
        <label>Account Lookup</label>
        <locationX>636</locationX>
        <locationY>485</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>getAccountSelected</targetReference>
        </connector>
        <fields>
            <name>PersonAccountLookup</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>AccountId</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Rechercher des clients</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Case</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxValues</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Courier_Papier</name>
        <label>Courier Papier</label>
        <locationX>778</locationX>
        <locationY>198</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>What_is_selected</targetReference>
        </connector>
        <fields>
            <name>Header</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 18px;&quot;&gt;Nouvelle demande de courrier papier&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Selectionner</name>
            <choiceReferences>S_lectionner_un_client_existant</choiceReferences>
            <choiceReferences>Crer_un_nouveau_client</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Sélectionner</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ErrorChoosePersonAccount</name>
        <label>ErrorChoosePersonAccount</label>
        <locationX>475</locationX>
        <locationY>681</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Account_Lookup</targetReference>
        </connector>
        <fields>
            <name>Errormsg</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Veuillez sélectionner un client, pas un compte ou un magasin.&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Cliquer sur Suivant pour continuer.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Existing_Email_Error</name>
        <label>Existing Email Error</label>
        <locationX>1675</locationX>
        <locationY>238</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Courier_Papier</targetReference>
        </connector>
        <fields>
            <name>ErrorMessage</name>
            <fieldText>&lt;p&gt;L’adresse email saisie existe déjà. Merci de recommencer la création du courrier papier avec un client existant&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Retourner au début</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Lyon_error_screen</name>
        <label>Lyon error screen</label>
        <locationX>1140</locationX>
        <locationY>186</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>LyonErrorText</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px; font-family: -apple-system, BlinkMacSystemFont, &amp;quot;Segoe UI&amp;quot;, Roboto, Oxygen, Ubuntu, &amp;quot;Fira Sans&amp;quot;, &amp;quot;Droid Sans&amp;quot;, &amp;quot;Helvetica Neue&amp;quot;, sans-serif; color: rgb(23, 43, 77);&quot;&gt;La création d&apos;une demande courrier papier est réservée aux utilisateurs du Service Client Centrale.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>New_Account_Screen</name>
        <label>New Account</label>
        <locationX>885</locationX>
        <locationY>447</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Is_email_entered1</targetReference>
        </connector>
        <fields>
            <name>Warning</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Veuillez entrer le nom et l&apos;adresse du client.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>NomDisplay</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Nom:&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Pr_nom</name>
            <dataType>String</dataType>
            <fieldText>Prénom</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Nomtext</name>
            <dataType>String</dataType>
            <fieldText>Nom</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Emailaddress</name>
            <extensionName>flowruntime:email</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>AdresseDisplay</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Adresse:&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Rue</name>
            <dataType>String</dataType>
            <fieldText>Rue</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>New_Account_Screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>New_Account_Screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Ville</name>
                    <dataType>String</dataType>
                    <fieldText>Ville</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>New_Account_Screen_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>R_gion_Province</name>
                    <dataType>String</dataType>
                    <fieldText>Région/Province</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>New_Account_Screen_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>New_Account_Screen_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Pays</name>
                    <dataType>String</dataType>
                    <fieldText>Pays</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>8</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>New_Account_Screen_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Code_postal</name>
                    <dataType>String</dataType>
                    <fieldText>Code postal</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <helpText>&lt;pre class=&quot;ql-syntax&quot; spellcheck=&quot;false&quot;&gt;Veuillez remplir le formulaire.
&lt;/pre&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</helpText>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>nouvelle_demande_screen</name>
        <label>nouvelle demande screen</label>
        <locationX>1421</locationX>
        <locationY>666</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Is_email_entered</targetReference>
        </connector>
        <fields>
            <name>Case_origin</name>
            <choiceReferences>Origin</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>Courrier papier</stringValue>
            </defaultValue>
            <fieldText>Origine demande</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <isRequired>false</isRequired>
            <objectFieldReference>caseRecord.Type</objectFieldReference>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <isRequired>false</isRequired>
            <objectFieldReference>caseRecord.Email_Category__c</objectFieldReference>
        </fields>
        <fields>
            <name>Objet</name>
            <dataType>String</dataType>
            <fieldText>Objet</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Description</name>
            <fieldText>Description</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>nouvelle_demande_screen_0_0</name>
        <label>nouvelle demande screen</label>
        <locationX>765</locationX>
        <locationY>1068</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>getRecordTypeIdCase_0</targetReference>
        </connector>
        <fields>
            <name>Case_origin_0</name>
            <choiceReferences>Origin</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>Courrier papier</stringValue>
            </defaultValue>
            <fieldText>Origine demande</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <isRequired>false</isRequired>
            <objectFieldReference>caseRecord.Type</objectFieldReference>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <isRequired>false</isRequired>
            <objectFieldReference>caseRecord.Email_Category__c</objectFieldReference>
        </fields>
        <fields>
            <name>Objet_0</name>
            <dataType>String</dataType>
            <fieldText>Objet</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Description_0</name>
            <fieldText>Description</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Success_screen</name>
        <label>Success screen</label>
        <locationX>1269</locationX>
        <locationY>1284</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Success</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px; color: rgb(0, 0, 0);&quot;&gt;Votre {!accountUrlTextTemp} et votre {!caseUrlTextTemp} ont été créés avec succès.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Success_screen_0</name>
        <label>Success screen</label>
        <locationX>916</locationX>
        <locationY>1441</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Success_0</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Votre {!caseUrlTextTemp} a été créée.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>650</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Check_user_profile</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>accountUrlTextTemp</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;a href=&quot;{!accountUrlFormula}&quot; target=&quot;_self&quot;&gt;compte&lt;/a&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>caseURL</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>LEFT($Api.Partner_Server_URL_260, FIND( &apos;/services&apos;, {$Api.Partner_Server_URL_260}))</text>
    </textTemplates>
    <textTemplates>
        <name>caseUrlTextTemp</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;a href=&quot;{!caseUrlFormula}&quot; target=&quot;_self&quot;&gt;demande&lt;/a&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>ClientURL</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>LEFT($Api.Partner_Server_URL_340, FIND( &apos;/services&apos;, $Api.Partner_Server_URL_340)){!accountRecord.Id}</text>
    </textTemplates>
    <textTemplates>
        <name>email</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{!getAccountAutoNumber.Autonumber_ReadOnly__c}@email.com</text>
    </textTemplates>
    <textTemplates>
        <name>emailSelectedAccount</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{!getAccountSelected.Autonumber_ReadOnly__c}@email.com</text>
    </textTemplates>
    <variables>
        <name>accountCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>accountRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>caseRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>checkUrl</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>contactRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>personAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
