force-app/main/default/flows/CaseAssignment.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Queue_ID</name>
        <label>Assign Queue Id</label>
        <locationX>490</locationX>
        <locationY>935</locationY>
        <assignmentItems>
            <assignToReference>QueueId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loopQueuesLyon.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopQueuesLyon</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Queue_Id_Courses_U_File_d_attente_RGPD</name>
        <label>Assign Queue Id Courses U File_d_attente_RGPD</label>
        <locationX>2250</locationX>
        <locationY>1175</locationY>
        <assignmentItems>
            <assignToReference>QueueId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loopQueuesCourses_U_File_d_attente_RGPD.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopQueuesCourses_U_File_d_attente_RGPD</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Queue_Id_ECommerceQueue</name>
        <label>Assign Queue Id ECommerceQueue</label>
        <locationX>842</locationX>
        <locationY>1175</locationY>
        <assignmentItems>
            <assignToReference>QueueId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>currentItem_Queue_Courses_U_File_d_attente_RGPD.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopQueuesECommerceQueue</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Queue_Id_File_d_attente_Code_promo</name>
        <label>Assign Queue Id File_d_attente_Code_promo</label>
        <locationX>1194</locationX>
        <locationY>1175</locationY>
        <assignmentItems>
            <assignToReference>QueueId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loopQueuesFile_d_attente_Code_promo.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopQueuesFile_d_attente_Code_promo</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Queue_Id_File_d_attente_RGPD</name>
        <label>Assign Queue Id File_d_attente_RGPD</label>
        <locationX>1898</locationX>
        <locationY>1175</locationY>
        <assignmentItems>
            <assignToReference>QueueId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loopQueuesFile_d_attente_RGPD.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopQueuesFile_d_attente_RGPD</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Queue_Id_Service_Client_Lyon</name>
        <label>Assign Queue Id Service_Client_Lyon</label>
        <locationX>2052</locationX>
        <locationY>2183</locationY>
        <assignmentItems>
            <assignToReference>QueueId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loopQueuesService_Client_Lyon.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopQueuesService_Client_Lyon</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Queue_Id_StoreCaseQueue</name>
        <label>Assign Queue Id StoreCaseQueue</label>
        <locationX>1546</locationX>
        <locationY>1175</locationY>
        <assignmentItems>
            <assignToReference>QueueId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loopQueuesStoreCaseQueue.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopQueuesStoreCaseQueue</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>Queue_Courses_U_File_d_attente_RGPD</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Queue Courses U File_d_attente_RGPD</label>
        <locationX>2162</locationX>
        <locationY>935</locationY>
        <assignNextValueToReference>currentItem_Queue_Courses_U_File_d_attente_RGPD</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>GetQueues</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Queue_Courses_U_File_d_attente_RGPD.DeveloperName</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>File_d_attente_RGPD</stringValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>loopQueuesCourses_U_File_d_attente_RGPD</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>Queue_ECommerceQueue</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Queue ECommerceQueue</label>
        <locationX>754</locationX>
        <locationY>935</locationY>
        <assignNextValueToReference>currentItem_Queue_Courses_U_File_d_attente_RGPD</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>GetQueues</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Queue_Courses_U_File_d_attente_RGPD.DeveloperName</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>ECommerceQueue</stringValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>loopQueuesECommerceQueue</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>Queue_File_d_attente_Code_promo</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Queue File_d_attente_Code_promo</label>
        <locationX>1106</locationX>
        <locationY>935</locationY>
        <assignNextValueToReference>currentItem_Queue_Courses_U_File_d_attente_RGPD</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>GetQueues</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Queue_Courses_U_File_d_attente_RGPD.DeveloperName</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>File_d_attente_Code_promo</stringValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>loopQueuesFile_d_attente_Code_promo</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>Queue_File_d_attente_RGPD</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Queue File_d_attente_RGPD</label>
        <locationX>1810</locationX>
        <locationY>935</locationY>
        <assignNextValueToReference>currentItem_Queue_Courses_U_File_d_attente_RGPD</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>GetQueues</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Queue_Courses_U_File_d_attente_RGPD.DeveloperName</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>File_d_attente_RGPD</stringValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>loopQueuesFile_d_attente_RGPD</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>Queue_Lyon</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Queue Lyon</label>
        <locationX>402</locationX>
        <locationY>695</locationY>
        <assignNextValueToReference>currentItem_Queue_Courses_U_File_d_attente_RGPD</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>GetQueues</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Queue_Courses_U_File_d_attente_RGPD.DeveloperName</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>Service_Client_Lyon</stringValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>loopQueuesLyon</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>Queue_Service_Client_Lyon</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Queue Service_Client_Lyon</label>
        <locationX>1964</locationX>
        <locationY>1943</locationY>
        <assignNextValueToReference>currentItem_Queue_Service_Client_Lyon</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>GetQueues</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Queue_Service_Client_Lyon.DeveloperName</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>Service_Client_Lyon</stringValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>loopQueuesService_Client_Lyon</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>Queue_StoreCaseQueue</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Queue StoreCaseQueue</label>
        <locationX>1458</locationX>
        <locationY>935</locationY>
        <assignNextValueToReference>currentItem_Queue_Courses_U_File_d_attente_RGPD</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>GetQueues</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Queue_Courses_U_File_d_attente_RGPD.DeveloperName</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>StoreCaseQueue</stringValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>loopQueuesStoreCaseQueue</targetReference>
        </connector>
    </collectionProcessors>
    <constants>
        <name>CodesMagasinNOTLyon</name>
        <dataType>String</dataType>
        <value>
            <stringValue>66162,66159,66211,66160,68534,66195,66015,66184,66190,66128</stringValue>
        </value>
    </constants>
    <constants>
        <name>CodesMagasinNOTUCentral</name>
        <dataType>String</dataType>
        <value>
            <stringValue>66201,60184.66162,66159,66211,66160,68534,66195,66015,66101,66128,66190</stringValue>
        </value>
    </constants>
    <decisions>
        <name>CentraleManualCases</name>
        <label>CentraleManualCases</label>
        <locationX>649</locationX>
        <locationY>335</locationY>
        <defaultConnector>
            <targetReference>GetQueues</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Centrale_Manual_Cases</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Owner:User.Profile_Id__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>00e2p000001Z3KBAA0</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Owner:User.Profile_Id__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>00e2p000001Z3KGAA0</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateManualCaseCentral</targetReference>
            </connector>
            <label>Centrale Manual Cases</label>
        </rules>
    </decisions>
    <decisions>
        <name>LyonCases</name>
        <label>LyonCases</label>
        <locationX>1249</locationX>
        <locationY>575</locationY>
        <defaultConnector>
            <targetReference>U_Central_Cases</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Lyon_Cases</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CodesMagasinNOTLyon</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>$Record.Store__r.StoreId__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Origin</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Phone</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Subject</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Problème sur le site</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Subject</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Code Promo</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Subject</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Demande de clôture de compte</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Queue_Lyon</targetReference>
            </connector>
            <label>Lyon Cases</label>
        </rules>
    </decisions>
    <decisions>
        <name>LyonManualCases</name>
        <label>LyonManualCases</label>
        <locationX>2096</locationX>
        <locationY>1823</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>LyonManualCase</name>
            <conditionLogic>(1 OR 2) AND (3 OR 4)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Owner:User.Profile_Id__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>00e2p000001Z3Pa</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Owner:User.Profile_Id__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>00e2p000001Z3Pf</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Origin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Email</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Origin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Phone</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Queue_Service_Client_Lyon</targetReference>
            </connector>
            <label>LyonManualCase</label>
        </rules>
    </decisions>
    <decisions>
        <name>U_Central</name>
        <label>U Central</label>
        <locationX>1590</locationX>
        <locationY>815</locationY>
        <defaultConnector>
            <targetReference>LyonManualCases</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Courses_U</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Subject</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Problème sur le site</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Queue_ECommerceQueue</targetReference>
            </connector>
            <label>Courses U</label>
        </rules>
        <rules>
            <name>Code_promo</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Subject</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Code Promo</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Queue_File_d_attente_Code_promo</targetReference>
            </connector>
            <label>Code promo</label>
        </rules>
        <rules>
            <name>Magasins_U</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Subject</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Demande liée à la CARTE U</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Subject</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Demande liée à U PAIEMENT</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Subject</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Demande liée à la connexion</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Subject</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Demande liée aux jeux</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Subject</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Demande liée aux bons de réduction à imprimer</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Queue_StoreCaseQueue</targetReference>
            </connector>
            <label>Magasins U</label>
        </rules>
        <rules>
            <name>RGPD</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Subject</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Demande liée aux données personnelles</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Queue_File_d_attente_RGPD</targetReference>
            </connector>
            <label>RGPD</label>
        </rules>
        <rules>
            <name>Courses_U_RGPD</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Subject</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Demande de clôture de compte</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Queue_Courses_U_File_d_attente_RGPD</targetReference>
            </connector>
            <label>Courses U RGPD</label>
        </rules>
    </decisions>
    <decisions>
        <name>U_Central_Cases</name>
        <label>U Central Cases</label>
        <locationX>2096</locationX>
        <locationY>695</locationY>
        <defaultConnector>
            <targetReference>LyonManualCases</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>U_Central_Case</name>
            <conditionLogic>NOT(1) AND 2 AND 3 AND 4 AND 5</conditionLogic>
            <conditions>
                <leftValueReference>CodesMagasinNOTUCentral</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>$Record.Store__r.StoreId__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Store__r.StoreId__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Origin</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Phone</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Owner:User.Profile_Id__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>00e2p000001Z3Pa</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Owner:User.Profile_Id__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>00e2p000001Z3Pf</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>U_Central</targetReference>
            </connector>
            <label>U Central Case</label>
        </rules>
    </decisions>
    <interviewLabel>Case Assignment {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case Assignment</label>
    <loops>
        <name>loopQueuesCourses_U_File_d_attente_RGPD</name>
        <label>loopQueuesCourses U File_d_attente_RGPD</label>
        <locationX>2162</locationX>
        <locationY>1055</locationY>
        <collectionReference>Queue_Courses_U_File_d_attente_RGPD</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Queue_Id_Courses_U_File_d_attente_RGPD</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Assign_Courses_U_File_d_attente_RGPD</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>loopQueuesECommerceQueue</name>
        <label>loopQueuesECommerceQueue</label>
        <locationX>754</locationX>
        <locationY>1055</locationY>
        <collectionReference>Queue_ECommerceQueue</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Queue_Id_ECommerceQueue</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Assign_Courses_U</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>loopQueuesFile_d_attente_Code_promo</name>
        <label>loopQueuesFile_d_attente_Code_promo</label>
        <locationX>1106</locationX>
        <locationY>1055</locationY>
        <collectionReference>Queue_File_d_attente_Code_promo</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Queue_Id_File_d_attente_Code_promo</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Assign_File_d_attente_Code_promo</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>loopQueuesFile_d_attente_RGPD</name>
        <label>loopQueuesFile_d_attente_RGPD</label>
        <locationX>1810</locationX>
        <locationY>1055</locationY>
        <collectionReference>Queue_File_d_attente_RGPD</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Queue_Id_File_d_attente_RGPD</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Assign_File_d_attente_RGPD</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>loopQueuesLyon</name>
        <label>loopQueuesLyon</label>
        <locationX>402</locationX>
        <locationY>815</locationY>
        <collectionReference>Queue_Lyon</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Queue_ID</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Assign_To_Lyon</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>loopQueuesService_Client_Lyon</name>
        <label>loopQueuesService_Client_Lyon</label>
        <locationX>1964</locationX>
        <locationY>2063</locationY>
        <collectionReference>Queue_Service_Client_Lyon</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Queue_Id_Service_Client_Lyon</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Case_Service_Client_Lyon</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>loopQueuesStoreCaseQueue</name>
        <label>loopQueuesStoreCaseQueue</label>
        <locationX>1458</locationX>
        <locationY>1055</locationY>
        <collectionReference>Queue_StoreCaseQueue</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Queue_Id_StoreCaseQueue</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Assign_StoreCaseQueue</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>GetQueues</name>
        <label>GetQueues</label>
        <locationX>1249</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LyonCases</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Assign_Courses_U</name>
        <label>Assign Courses U</label>
        <locationX>754</locationX>
        <locationY>1391</locationY>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <stringValue>Web</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>QueueId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Ticket_Type__c</field>
            <value>
                <stringValue>U Central</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Assign_Courses_U_File_d_attente_RGPD</name>
        <label>Assign Courses U File_d_attente_RGPD</label>
        <locationX>2162</locationX>
        <locationY>1391</locationY>
        <inputAssignments>
            <field>Email_Category__c</field>
            <value>
                <stringValue>Droit de suppression</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <stringValue>Web</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>QueueId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Ticket_Type__c</field>
            <value>
                <stringValue>U Central</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>RGPD</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Assign_File_d_attente_Code_promo</name>
        <label>Assign File_d_attente_Code_promo</label>
        <locationX>1106</locationX>
        <locationY>1391</locationY>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <stringValue>Web</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>QueueId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Ticket_Type__c</field>
            <value>
                <stringValue>U Central</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Assign_File_d_attente_RGPD</name>
        <label>Assign File_d_attente_RGPD</label>
        <locationX>1810</locationX>
        <locationY>1391</locationY>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <stringValue>Web</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>QueueId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Ticket_Type__c</field>
            <value>
                <stringValue>U Central</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>RGPD</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Assign_StoreCaseQueue</name>
        <label>Assign StoreCaseQueue</label>
        <locationX>1458</locationX>
        <locationY>1391</locationY>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <stringValue>Web</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>QueueId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Ticket_Type__c</field>
            <value>
                <stringValue>U Central</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Assign_To_Lyon</name>
        <label>Assign To Lyon</label>
        <locationX>402</locationX>
        <locationY>1151</locationY>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <stringValue>Web</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>QueueId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Ticket_Type__c</field>
            <value>
                <stringValue>Lyon</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>ECommerce</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Case_Service_Client_Lyon</name>
        <label>Update Case Service_Client_Lyon</label>
        <locationX>1964</locationX>
        <locationY>2399</locationY>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>QueueId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Ticket_Type__c</field>
            <value>
                <stringValue>Lyon</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>ECommerce</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateManualCaseCentral</name>
        <label>UpdateManualCaseCentral</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <inputAssignments>
            <field>Ticket_Type__c</field>
            <value>
                <stringValue>U Central</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>523</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>CentraleManualCases</targetReference>
        </connector>
        <object>Case</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>currentItem_Queue_Courses_U_File_d_attente_RGPD</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Group</objectType>
    </variables>
    <variables>
        <name>currentItem_Queue_Service_Client_Lyon</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Group</objectType>
    </variables>
    <variables>
        <name>QueueId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
