force-app/main/default/flows/customer_satisfaction.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <choices>
        <name>c_153aa14c_9af9_40ee_9108_b042e8ae5f31</name>
        <choiceText>Non</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Non</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_429c8ab7_2a9d_4a7a_b252_1591b41c2d63</name>
        <choiceText>Oui</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Oui</stringValue>
        </value>
    </choices>
    <decisions>
        <name>d_aadcd17d_5cb0_4c63_b79f_37bc93778554</name>
        <label>my_decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>p_26e37643_c4dc_491a_8909_e717db1f6987</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Next Page</defaultConnectorLabel>
        <rules>
            <name>r_4a4c1d94_f016_4b05_ac3c_6a1d0a01208f</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>RadioButton</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>q_514f2e6f_624c_4022_bc1c_d337f5ca3790</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>c_153aa14c_9af9_40ee_9108_b042e8ae5f31</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>p_26e37643_c4dc_491a_8909_e717db1f6987</targetReference>
            </connector>
            <label>my_rule</label>
        </rules>
        <rules>
            <name>r_5ce4f74d_3e83_4c18_b87a_83d83d7237c0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>RadioButton</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>q_514f2e6f_624c_4022_bc1c_d337f5ca3790</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>c_429c8ab7_2a9d_4a7a_b252_1591b41c2d63</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>p_0007c7da_8b5f_42be_b9f0_7d8c83b3671d</targetReference>
            </connector>
            <label>my_rule</label>
        </rules>
    </decisions>
    <interviewLabel>Customer Satisfaction</interviewLabel>
    <label>Customer Satisfaction</label>
    <processMetadataValues>
        <name>BrandingSet</name>
        <value>
            <stringValue>customer_satisfaction_7</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>autoProgressEnabled</name>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>hasWelcomePage</name>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>overrideActiveVersion</name>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </processMetadataValues>
    <processType>Survey</processType>
    <screens>
        <name>p_0007c7da_8b5f_42be_b9f0_7d8c83b3671d</name>
        <label>Reactivite</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>FINISH</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>defaultValue</name>
                <value>
                    <elementReference>var_q_13009168_7176_48f2_b286_7b4d079554c6_defaultValue</elementReference>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>max</name>
                <value>
                    <stringValue>5</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>min</name>
                <value>
                    <stringValue>0</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>questionType</name>
                <value>
                    <stringValue>CSAT</stringValue>
                </value>
            </processMetadataValues>
            <name>q_13009168_7176_48f2_b286_7b4d079554c6</name>
            <dataType>Number</dataType>
            <extensionName>survey:cmpInputRuntimeCsat</extensionName>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;Quel &lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;est votre niveau de satisfaction sur notre réactivité à traiter vos demandes ? &lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentInput</fieldType>
            <helpText>Sur une échelle allant de 0 (très insatisfait) à 5 (très satisfait)</helpText>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <pausedText>Survey paused. To pick up where you left off, refresh this page or click the link in your survey invitation.</pausedText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>p_26e37643_c4dc_491a_8909_e717db1f6987</name>
        <label>NonResolution</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>p_0007c7da_8b5f_42be_b9f0_7d8c83b3671d</targetReference>
        </connector>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_afe0d6da_b001_45cb_a41d_66febc9cad4d</name>
            <dataType>String</dataType>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;Souhaitez-vous nous expliquer pourquoi le Service Client U n&apos;a pas répondu à vos attentes ? &lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <pausedText>Survey paused. To pick up where you left off, refresh this page or click the link in your survey invitation.</pausedText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>p_e97ca7a2_577e_49f3_9136_7d058f09c230</name>
        <label>Resolution</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>d_aadcd17d_5cb0_4c63_b79f_37bc93778554</targetReference>
        </connector>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NEXT</stringValue>
                </value>
            </processMetadataValues>
            <name>q_514f2e6f_624c_4022_bc1c_d337f5ca3790</name>
            <choiceReferences>c_429c8ab7_2a9d_4a7a_b252_1591b41c2d63</choiceReferences>
            <choiceReferences>c_153aa14c_9af9_40ee_9108_b042e8ae5f31</choiceReferences>
            <dataType>String</dataType>
            <extensionName>survey:runtimeRadioButton</extensionName>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;Est-ce q&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;ue notre Service Client U a répondu à vos attentes ? &lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <pausedText>Survey paused. To pick up where you left off, refresh this page or click the link in your survey invitation.</pausedText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>welcome_page</name>
        <label>Welcome Page</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>p_e97ca7a2_577e_49f3_9136_7d058f09c230</targetReference>
        </connector>
        <fields>
            <name>welcome_question</name>
            <extensionName>survey:runtimeWelcome</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>{!welcome_question_lref_tt}</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>welcome_page</startElementReference>
    <status>Active</status>
    <textTemplates>
        <name>thankYouDescriptionTextTemplate</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text></text>
    </textTemplates>
    <textTemplates>
        <name>thankYouLabelTextTemplate</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;img src=&quot;https://systeme-u--c.documentforce.com/file-asset-public/Merci2?oid=00DG5000007kYPF&amp;amp;v=1&quot; alt=&quot;Merci2&quot;&gt;&lt;b&gt;&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;&lt;/b&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;Merci pour votre participation et votre confiance !&lt;/b&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>welcome_question_lref_tt</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;Bonjour,&lt;/b&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;Afin de toujours répondre au mieux à vos attentes, nous vous remercions de bien vouloir prendre quelques minutes pour répondre à ces 2 questions.&lt;/b&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>guestUserLang</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>invitationId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>previewMode</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>thankYouDescription</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>{!thankYouDescriptionTextTemplate}</stringValue>
        </value>
    </variables>
    <variables>
        <name>thankYouLabel</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>{!thankYouLabelTextTemplate}</stringValue>
        </value>
    </variables>
    <variables>
        <name>var_q_13009168_7176_48f2_b286_7b4d079554c6_defaultValue</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
