force-app/main/default/flows/FL002_Gemini_Scoring.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Get_Gemini_Scoring</name>
        <label>Get Gemini Scoring</label>
        <locationX>563</locationX>
        <locationY>419</locationY>
        <actionName>SC_GeminiScoringInvocable</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>DEC01_which_priority</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>prompt</name>
            <value>
                <elementReference>$Record.Description</elementReference>
            </value>
        </inputParameters>
        <nameSegment>SC_GeminiScoringInvocable</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <constants>
        <name>Neutral</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Neutre</stringValue>
        </value>
    </constants>
    <decisions>
        <name>DEC01_which_priority</name>
        <label>DEC01 - which priority ?</label>
        <locationX>563</locationX>
        <locationY>527</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Neutre</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Gemini_Scoring.geminiScoringText</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Neutral</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Priority_to_Medium</targetReference>
            </connector>
            <label>Neutre</label>
        </rules>
        <rules>
            <name>Positif</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Gemini_Scoring.geminiScoringText</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Positive</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Priority_to_Low</targetReference>
            </connector>
            <label>Positif</label>
        </rules>
        <rules>
            <name>Negatif</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Gemini_Scoring.geminiScoringText</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Negative</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Priority_to_High</targetReference>
            </connector>
            <label>Negatif</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>FL02 - {!$Flow.CurrentDateTime}</interviewLabel>
    <label>FL002 - Gemini Scoring</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Set_Priority_to_High</name>
        <label>Set Priority to High</label>
        <locationX>695</locationX>
        <locationY>635</locationY>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>High</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Priority_to_Low</name>
        <label>Set Priority to Low</label>
        <locationX>431</locationX>
        <locationY>635</locationY>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Low</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Priority_to_Medium</name>
        <label>Set Priority to Medium</label>
        <locationX>167</locationX>
        <locationY>635</locationY>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Medium</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>437</locationX>
        <locationY>48</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Compte_Ambassadeur__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Description</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Case</object>
        <recordTriggerType>Create</recordTriggerType>
        <scheduledPaths>
            <connector>
                <targetReference>Get_Gemini_Scoring</targetReference>
            </connector>
            <pathType>AsyncAfterCommit</pathType>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>Negative</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Négatif</stringValue>
        </value>
    </variables>
    <variables>
        <name>Positive</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Positif</stringValue>
        </value>
    </variables>
</Flow>
