force-app/main/default/flows/GenerateSlots.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Generate_Slots</name>
        <label>Generate Slots</label>
        <locationX>650</locationX>
        <locationY>57</locationY>
        <actionName>GenerateSlots_Service</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>End</targetReference>
        </connector>
        <inputParameters>
            <name>rsIds</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>GenerateSlots_Service</nameSegment>
        <outputParameters>
            <assignToReference>createdSlots</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <interviewLabel>GenerateSlots {!$Flow.CurrentDateTime}</interviewLabel>
    <label>GenerateSlots</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>CSQueueConfig</name>
        <label>CSQueueConfig</label>
        <locationX>189</locationX>
        <locationY>62</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetRecord</targetReference>
        </connector>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>QueueBustingConfig__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>NumWeeksGeneratedSlots__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetRecord</name>
        <label>GetRecord</label>
        <locationX>334</locationX>
        <locationY>59</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Confirm</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecurringSlot__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>AvailablePositions__c</queriedFields>
        <queriedFields>RecurrenceDays__c</queriedFields>
        <queriedFields>TECH_Endtime__c</queriedFields>
        <queriedFields>Duration__c</queriedFields>
        <queriedFields>TECH_Starttime__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <description>Confirm slots generation</description>
        <name>Confirm</name>
        <label>Confirm</label>
        <locationX>477</locationX>
        <locationY>60</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Generate_Slots</targetReference>
        </connector>
        <fields>
            <name>CurrentRecordInfos</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Jours de semaine à générer&lt;/b&gt;:&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;{!GetRecord.RecurrenceDays__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Nombre de réservations par créneau&lt;/b&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;: {!GetRecord.AvailablePositions__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;Durée d&apos;un créneau&lt;/b&gt;: {!GetRecord.Duration__c} minutes&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;Heure de début&lt;/b&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;: {!GetRecord.TECH_Starttime__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;Heure de fin&lt;/b&gt;:&lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;{!GetRecord.TECH_Endtime__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;Nombre de semaine à générer (incluant la semaine en cours) &lt;/b&gt;: {!CSQueueConfig.NumWeeksGeneratedSlots__c}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(255, 0, 0);&quot;&gt;NOTE: les créneaux précédents à aujourd&apos;hui ne seront pas générés. Si un créneau existe déjà il ne sera pas remplacé/modifié&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Help</name>
            <fieldText>&lt;p&gt;Cliquer sur Suivant/Fin pour continuer&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>End</name>
        <label>End</label>
        <locationX>875</locationX>
        <locationY>63</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>EndSummary</name>
            <fieldText>&lt;p&gt;Nombre de créneaux créés: {!createdSlots}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>62</locationY>
        <connector>
            <targetReference>CSQueueConfig</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>createdSlots</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recurringSlot</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>RecurringSlot__c</objectType>
    </variables>
</Flow>
