force-app/main/default/flows/Lyon_Record_Type_Assignment.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>add_counter</name>
        <label>add counter</label>
        <locationX>1218</locationX>
        <locationY>950</locationY>
        <assignmentItems>
            <assignToReference>counter</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>caseCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loop_Cases</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_if_200</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Member_ID_s_to_collection</name>
        <label>Add Member ID&apos;s to collection</label>
        <locationX>852</locationX>
        <locationY>283</locationY>
        <assignmentItems>
            <assignToReference>ownerCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loop_Queue_Members.UserOrGroupId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_Queue_Members</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Member_ID_s_to_collection_0</name>
        <label>Add Member ID&apos;s to collection</label>
        <locationX>1488</locationX>
        <locationY>369</locationY>
        <assignmentItems>
            <assignToReference>ownerCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Public_Group_Members.UserOrGroupId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Public_Group_Members</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Queue_Id_to_Collection</name>
        <label>Add Queue Id to Collection</label>
        <locationX>410</locationX>
        <locationY>508</locationY>
        <assignmentItems>
            <assignToReference>ownerCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Lyon_Queues.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Queue_Members</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_Lyon_Record_Type</name>
        <label>assign Lyon Record Type</label>
        <locationX>962</locationX>
        <locationY>984</locationY>
        <assignmentItems>
            <assignToReference>loop_Cases.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Case_Lyon_Record_Type.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>add_counter</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Reset_counter_and_collection</name>
        <label>Reset counter and collection</label>
        <locationX>1041</locationX>
        <locationY>618</locationY>
        <assignmentItems>
            <assignToReference>caseCollection</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>counter</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_Cases</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_if_200</name>
        <label>Check if 200</label>
        <locationX>1311</locationX>
        <locationY>835</locationY>
        <defaultConnector>
            <targetReference>Update_Case</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>X200</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>counter</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>200.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>loop_Cases</targetReference>
            </connector>
            <label>&lt;200</label>
        </rules>
    </decisions>
    <decisions>
        <name>Group_or_User</name>
        <label>Group or User</label>
        <locationX>964</locationX>
        <locationY>496</locationY>
        <defaultConnector>
            <targetReference>Add_Member_ID_s_to_collection</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>User</defaultConnectorLabel>
        <rules>
            <name>Group</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>loop_Queue_Members.UserOrGroupId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>00G</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Public_Group_Members</targetReference>
            </connector>
            <label>Group</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Lyon Record Type Assignment {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Lyon Record Type Assignment</label>
    <loops>
        <name>loop_Cases</name>
        <label>loop Cases</label>
        <locationX>962</locationX>
        <locationY>769</locationY>
        <collectionReference>get_Lyon_Cases</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>assign_Lyon_Record_Type</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Case_0</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Public_Group_Members</name>
        <label>Loop Public Group Members</label>
        <locationX>1204</locationX>
        <locationY>269</locationY>
        <collectionReference>Get_Public_Group_Members</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_Member_ID_s_to_collection_0</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>loop_Queue_Members</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>loop_Queue_Members</name>
        <label>loop Queue Members</label>
        <locationX>676</locationX>
        <locationY>404</locationY>
        <collectionReference>Get_Queue_Members</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Group_or_User</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>get_Lyon_Cases</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Case_Lyon_Record_Type</name>
        <label>Get Case Lyon Record Type</label>
        <locationX>454</locationX>
        <locationY>232</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Lyon_Queues</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Demande_client_Lyon</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_Lyon_Cases</name>
        <label>get Lyon Cases</label>
        <locationX>788</locationX>
        <locationY>768</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loop_Cases</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OwnerId</field>
            <operator>In</operator>
            <value>
                <elementReference>ownerCollection</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>Get_Case_Lyon_Record_Type.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Lyon_Queues</name>
        <label>Get Lyon Queues</label>
        <locationX>425</locationX>
        <locationY>361</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Add_Queue_Id_to_Collection</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Service_Client_Lyon</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Public_Group_Members</name>
        <label>Get Public Group Members</label>
        <locationX>1156</locationX>
        <locationY>447</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Public_Group_Members</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>GroupId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>loop_Queue_Members.UserOrGroupId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>GroupMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Queue_Members</name>
        <label>Get Queue Members</label>
        <locationX>526</locationX>
        <locationY>628</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loop_Queue_Members</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>GroupId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Lyon_Queues.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>GroupMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Case</name>
        <label>Update Case</label>
        <locationX>1433</locationX>
        <locationY>665</locationY>
        <connector>
            <targetReference>Pause_for_limit</targetReference>
        </connector>
        <inputReference>caseCollection</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Case_0</name>
        <label>Update Case</label>
        <locationX>809</locationX>
        <locationY>1016</locationY>
        <inputReference>caseCollection</inputReference>
    </recordUpdates>
    <start>
        <locationX>650</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Get_Case_Lyon_Record_Type</targetReference>
        </connector>
        <schedule>
            <frequency>Once</frequency>
            <startDate>2022-12-05</startDate>
            <startTime>01:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>caseCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>counter</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>ownerCollection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <waits>
        <name>Pause_for_limit</name>
        <label>Pause for limit</label>
        <locationX>1300</locationX>
        <locationY>554</locationY>
        <defaultConnectorLabel>Default Path</defaultConnectorLabel>
        <waitEvents>
            <name>Pause</name>
            <conditionLogic>and</conditionLogic>
            <connector>
                <targetReference>Reset_counter_and_collection</targetReference>
            </connector>
            <eventType>AlarmEvent</eventType>
            <inputParameters>
                <name>AlarmTime</name>
                <value>
                    <elementReference>$Flow.InterviewStartTime</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeOffset</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeOffsetUnit</name>
                <value>
                    <stringValue>Hours</stringValue>
                </value>
            </inputParameters>
            <label>Pause</label>
        </waitEvents>
    </waits>
</Flow>
