force-app/main/default/flows/New_W2C_assign_or_create_client.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>LastName_equal_FullName</name>
        <label>LastName equal FullName</label>
        <locationX>450</locationX>
        <locationY>697</locationY>
        <assignmentItems>
            <assignToReference>CaseLastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CaseFullName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_new_person_acccount</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Is_Email_filled</name>
        <label>Is Email filled?</label>
        <locationX>76</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>EmailYes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CaseEmail</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Acount_by_Email</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Guest_Form</name>
        <label>Is Guest Form</label>
        <locationX>270</locationX>
        <locationY>574</locationY>
        <defaultConnector>
            <targetReference>Create_new_person_acccount</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>GuestYes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CaseFullName</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>LastName_equal_FullName</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Store_Id_filled</name>
        <label>Is Store Id filled ?</label>
        <locationX>77</locationX>
        <locationY>220</locationY>
        <defaultConnector>
            <targetReference>Is_Email_filled</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>StoreYes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>StoreLinkedToCase</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Session_Store_Id</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Person_Account_Found</name>
        <label>Person Account Found?</label>
        <locationX>83</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>Is_Guest_Form</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>PersonFoundYes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PersonId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Case_with_PA</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Record type for Person Account Record type was hard coded in Account creation.</description>
    <interviewLabel>New W2C assign or create client {!$Flow.CurrentDateTime}</interviewLabel>
    <label>New W2C assign or create client</label>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_new_person_acccount</name>
        <label>Create new person acccount</label>
        <locationX>273</locationX>
        <locationY>695</locationY>
        <assignRecordIdToReference>PersonId</assignRecordIdToReference>
        <connector>
            <targetReference>GetPersonId</targetReference>
        </connector>
        <inputAssignments>
            <field>CDV__pc</field>
            <value>
                <elementReference>CaseCDV</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CommerceCloudId__pc</field>
            <value>
                <elementReference>CaseCommerceCloudId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>CaseFirstName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>CaseLastName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LoyaltyBirthdate__pc</field>
            <value>
                <elementReference>CaseLoyaltyBirthdate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LoyaltyCardID__pc</field>
            <value>
                <elementReference>CaseLoyaltyCardId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LoyaltyCreationDate__pc</field>
            <value>
                <elementReference>CaseLoyaltyCreationDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LoyaltyFirstName__pc</field>
            <value>
                <elementReference>CaseLoyaltyFirstName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LoyaltyLastName__pc</field>
            <value>
                <elementReference>CaseLoyaltyLastName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NewsletterStatus__pc</field>
            <value>
                <elementReference>CaseNewsletterStatus</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PersonEmail</field>
            <value>
                <elementReference>CaseEmail</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PersonMobilePhone</field>
            <value>
                <elementReference>CaseMobilePhone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>CasePhone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PreferedStore__c</field>
            <value>
                <elementReference>StoreLinkedToCase</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RFM__pc</field>
            <value>
                <elementReference>CaseRFM</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>PersonAccountType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SDC__pc</field>
            <value>
                <elementReference>CaseSDC</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Salutation</field>
            <value>
                <elementReference>CaseSalutation</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VCA__pc</field>
            <value>
                <elementReference>CaseVCA</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WorldlineId__pc</field>
            <value>
                <elementReference>CaseWorldlineId</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Acount_by_Email</name>
        <label>Get Acount by Email</label>
        <locationX>80</locationX>
        <locationY>456</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Person_Account_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseEmail</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>PersonAccountType</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>PersonId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>PersonContactId</assignToReference>
            <field>PersonContactId</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Case_Details</name>
        <label>Get Case Details</label>
        <locationX>76</locationX>
        <locationY>10</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_PersonAccount_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseId</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputAssignments>
            <assignToReference>CaseBirthdate</assignToReference>
            <field>Birthdate__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>CaseCDV</assignToReference>
            <field>CDV__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>CaseCommerceCloudId</assignToReference>
            <field>CommerceCloudId__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>CaseFirstName</assignToReference>
            <field>FirstName__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>CaseFullName</assignToReference>
            <field>FullName__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>CaseLastName</assignToReference>
            <field>LastName__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>CaseLoyaltyBirthdate</assignToReference>
            <field>LoyaltyBirthdate__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>CaseLoyaltyCardId</assignToReference>
            <field>LoyaltyCardID__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>CaseLoyaltyCreationDate</assignToReference>
            <field>LoyaltyCreationDate__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>CaseLoyaltyFirstName</assignToReference>
            <field>LoyaltyFirstName__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>CaseLoyaltyLastName</assignToReference>
            <field>LoyaltyLastName__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>CaseMobilePhone</assignToReference>
            <field>MobilePhone__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>CaseNewsletterStatus</assignToReference>
            <field>NewsletterStatus__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>CasePhone</assignToReference>
            <field>Phone__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>CaseRFM</assignToReference>
            <field>RFM__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>CaseSDC</assignToReference>
            <field>SDC__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>CaseSalutation</assignToReference>
            <field>Salutation__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>CaseSessionStoreId</assignToReference>
            <field>SessionStoreId__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>CaseEmail</assignToReference>
            <field>SuppliedEmail</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>CaseVCA</assignToReference>
            <field>VCA__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>CaseWorldlineId</assignToReference>
            <field>WorldlineId__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>CaseLoyaltyCardEdu</assignToReference>
            <field>loyaltyCardEcu__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_PersonAccount_Type</name>
        <label>Get PersonAccount Type</label>
        <locationX>76</locationX>
        <locationY>111</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Store_Id_filled</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Client</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>PersonAccountType</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Session_Store_Id</name>
        <label>Get Session Store Id</label>
        <locationX>278</locationX>
        <locationY>337</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Email_filled</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>StoreId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseSessionStoreId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>StoreLinkedToCase</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>GetPersonId</name>
        <label>GetPersonId</label>
        <locationX>276</locationX>
        <locationY>812</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Case_with_PA</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>PersonId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>PersonId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>PersonContactId</assignToReference>
            <field>PersonContactId</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_Case_with_PA</name>
        <label>Update Case with PA</label>
        <locationX>84</locationX>
        <locationY>815</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>PersonId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>PersonContactId</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <startElementReference>Get_Case_Details</startElementReference>
    <status>Active</status>
    <variables>
        <name>CaseBirthdate</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CaseCDV</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CaseCommerceCloudId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CaseEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CaseFirstName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CaseFullName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CaseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CaseLastName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CaseLoyaltyBirthdate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CaseLoyaltyCardEdu</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CaseLoyaltyCardId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CaseLoyaltyCreationDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CaseLoyaltyFirstName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CaseLoyaltyLastName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CaseMobilePhone</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CaseNewsletterStatus</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CasePhone</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CaseRFM</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CaseSalutation</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CaseSDC</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CaseSessionStoreId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CaseVCA</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CaseWorldlineId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PersonAccountType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PersonContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PersonId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>StoreLinkedToCase</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
