force-app/main/default/flows/SC_Case_Gemini_Prompt.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Create_Email_Draft</name>
        <label>Create Email Draft</label>
        <locationX>446</locationX>
        <locationY>1790</locationY>
        <actionName>SC_GeminiEmailResponseInvocable</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>caseId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddress</name>
            <value>
                <stringValue>contact@magasins-u.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>geminiResponse</name>
            <value>
                <elementReference>geminiResponse</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>geminiScore</name>
            <value>
                <elementReference>Get_Gemini_Scoring.geminiScoring</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>geminiScoreText</name>
            <value>
                <elementReference>scoreText</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>prompt</name>
            <value>
                <elementReference>geminiRequestPrompt</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>userHint</name>
            <value>
                <elementReference>geminiRequestUserHint</elementReference>
            </value>
        </inputParameters>
        <nameSegment>SC_GeminiEmailResponseInvocable</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Get_Gemini_Response</name>
        <label>Get Gemini Response</label>
        <locationX>446</locationX>
        <locationY>842</locationY>
        <actionName>SC_GeminiResponseInvocable</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Set_Gemini_Response_Data</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>prompt</name>
            <value>
                <elementReference>geminiRequestPrompt</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>userHint</name>
            <value>
                <elementReference>geminiRequestUserHint</elementReference>
            </value>
        </inputParameters>
        <nameSegment>SC_GeminiResponseInvocable</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Get_Gemini_Scoring</name>
        <label>Get Gemini Scoring</label>
        <locationX>446</locationX>
        <locationY>1058</locationY>
        <actionName>SC_GeminiScoringInvocable</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Set_Gemini_Scoring_Data</targetReference>
        </connector>
        <flowTransactionModel>NewTransaction</flowTransactionModel>
        <inputParameters>
            <name>prompt</name>
            <value>
                <elementReference>Get_Gemini_Response.geminiResponse</elementReference>
            </value>
        </inputParameters>
        <nameSegment>SC_GeminiScoringInvocable</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>61.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Set_Gemini_Response_Data</name>
        <label>Set Gemini Response Data</label>
        <locationX>446</locationX>
        <locationY>950</locationY>
        <assignmentItems>
            <assignToReference>geminiResponse</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Gemini_Response.geminiResponse</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Gemini_Scoring</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Gemini_Scoring_Data</name>
        <label>Set Gemini Scoring Data</label>
        <locationX>446</locationX>
        <locationY>1166</locationY>
        <assignmentItems>
            <assignToReference>geminiScore</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Gemini_Scoring.geminiScoring</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>scoreText</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Gemini_Scoring.geminiScoringText</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Result</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Prompt_With_Case_Data</name>
        <label>Set Prompt With Case Data</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>geminiRequestPrompt</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Case.Description</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>geminiRequestUserHint</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>User_Hint</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Gemini_Response</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Prompt_With_Email_Message_Data</name>
        <label>Set Prompt With Email Message Data</label>
        <locationX>314</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>geminiRequestPrompt</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Latest_Inbound_Message.TextBody</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>geminiRequestUserHint</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>User_Hint</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Gemini_Response</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>CaseDescription</name>
        <choiceText>Case Description</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Case_Description</stringValue>
        </value>
    </choices>
    <choices>
        <name>LatestInboundEmail</name>
        <choiceText>Latest Inbound Email</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Text</name>
        <choiceText>Text</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Text</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Drafts_Found</name>
        <label>Drafts Found</label>
        <locationX>446</locationX>
        <locationY>1490</locationY>
        <defaultConnector>
            <targetReference>Create_Email_Draft</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Email_Message_Drafts_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Email_Message_Drafts</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_Draft_Emails</targetReference>
            </connector>
            <label>Email Message Drafts Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Email_Found</name>
        <label>Email Found</label>
        <locationX>446</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Select_Prompt</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Email_Message_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Latest_Inbound_Message.MessageIdentifier</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Prompt_With_Email_Message_Data</targetReference>
            </connector>
            <label>Email Message Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Prompt_Type</name>
        <label>Prompt Type</label>
        <locationX>446</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Get_Gemini_Response</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Case_Description</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Update_Prompt</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>CaseDescription</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Case</targetReference>
            </connector>
            <label>Case Description</label>
        </rules>
        <rules>
            <name>Email_Message</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Update_Prompt</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>LatestInboundEmail</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Latest_Inbound_Message</targetReference>
            </connector>
            <label>Email Message</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>SC Case Gemini Prompt {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Prompt Gemini</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordDeletes>
        <name>Delete_Draft_Emails</name>
        <label>Delete Draft Emails</label>
        <locationX>314</locationX>
        <locationY>1598</locationY>
        <connector>
            <targetReference>Create_Email_Draft</targetReference>
        </connector>
        <inputReference>Get_Email_Message_Drafts</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>Get_Case</name>
        <label>Get Case</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Prompt_With_Case_Data</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Email_Message_Drafts</name>
        <label>Get Email Message Drafts</label>
        <locationX>446</locationX>
        <locationY>1382</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Drafts_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CreatedById</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>5</stringValue>
            </value>
        </filters>
        <filters>
            <field>RelatedToId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>EmailMessage</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Latest_Inbound_Message</name>
        <label>Get Latest Inbound Message</label>
        <locationX>446</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Email_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Incoming</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>RelatedToId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>EmailMessage</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Result</name>
        <label>Result</label>
        <locationX>446</locationX>
        <locationY>1274</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Email_Message_Drafts</targetReference>
        </connector>
        <fields>
            <name>Gemini_Response</name>
            <defaultValue>
                <stringValue>{!geminiResponse}</stringValue>
            </defaultValue>
            <fieldText>Gemini Response</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Score</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>scoreText</elementReference>
            </defaultValue>
            <fieldText>Score</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Create Email Draft</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Select_Prompt</name>
        <label>Select Prompt</label>
        <locationX>446</locationX>
        <locationY>134</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Prompt_Type</targetReference>
        </connector>
        <fields>
            <name>Update_Prompt</name>
            <choiceReferences>CaseDescription</choiceReferences>
            <choiceReferences>LatestInboundEmail</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Prompt Source</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>User_Hint</name>
            <fieldText>User Hint</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Select_Prompt</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>geminiRequestPrompt</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>geminiRequestUserHint</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>geminiResponse</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>geminiScore</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>scoreText</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
