force-app/main/default/flows/Service_Clients_sync_Case_to_ServiceNow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Create_ServiceNow_Note</name>
        <label>Create ServiceNow Note</label>
        <locationX>615</locationX>
        <locationY>1013</locationY>
        <actionName>SC_ServiceNowNoteInvocable</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Get_Case_Record</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>caseId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>comment</name>
            <value>
                <elementReference>Commentaire</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>commentType</name>
            <value>
                <stringValue>Additional Comments</stringValue>
            </value>
        </inputParameters>
        <nameSegment>SC_ServiceNowNoteInvocable</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Sync_Case_to_ServiceNow</name>
        <label>Sync Case to ServiceNow</label>
        <locationX>866</locationX>
        <locationY>506</locationY>
        <actionName>SC_ServiceNowInvocable</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Incident_Created</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>caseId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>category</name>
            <value>
                <elementReference>Case_Category</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>comment</name>
            <value>
                <elementReference>Commentaire</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>parentIncidentId</name>
            <value>
                <elementReference>vParentIncidentID</elementReference>
            </value>
        </inputParameters>
        <nameSegment>SC_ServiceNowInvocable</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Parent_Incident_Id_to_Var</name>
        <label>Assign Parent Incident Id to Var</label>
        <locationX>509</locationX>
        <locationY>485</locationY>
        <assignmentItems>
            <assignToReference>vParentIncidentID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Case_Record_Init.ServiceNowId__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Service_Now_Incident</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Courses_U</name>
        <choiceText>Courses U</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Courses U</stringValue>
        </value>
    </choices>
    <choices>
        <name>Magasin_U</name>
        <choiceText>Magasin U</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Magasin U</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Already_synced</name>
        <label>Already synced?</label>
        <locationX>576</locationX>
        <locationY>329</locationY>
        <defaultConnector>
            <targetReference>Create_Service_Now_Incident</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Already_synced_not_closed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Case_Record_Init.ServiceNowId__c</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>Get_Case_Record_Init.ServiceNowStatus__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Fermé</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Case_Record</targetReference>
            </connector>
            <label>Already synced &amp; not closed</label>
        </rules>
        <rules>
            <name>Already_synced_closed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Case_Record_Init.ServiceNowId__c</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>Get_Case_Record_Init.ServiceNowStatus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Fermé</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Success_ServiceNow_AlreadyClosed</targetReference>
            </connector>
            <label>Already synced &amp; closed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Incident_Created</name>
        <label>Incident Created</label>
        <locationX>722</locationX>
        <locationY>508</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Success</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Sync_Case_to_ServiceNow.success</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Note_Is_Not_Blank</targetReference>
            </connector>
            <label>Success</label>
        </rules>
        <rules>
            <name>Error</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Sync_Case_to_ServiceNow.success</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>User_Profile</targetReference>
            </connector>
            <label>Error</label>
        </rules>
    </decisions>
    <decisions>
        <name>Note_Is_Not_Blank</name>
        <label>Note Is Not Blank</label>
        <locationX>604</locationX>
        <locationY>681</locationY>
        <defaultConnector>
            <targetReference>Get_Case_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Comment_Is_Not_Blank</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Commentaire</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Commentaire</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Create_ServiceNow_Note</targetReference>
            </connector>
            <label>Comment Is Not Blank</label>
        </rules>
    </decisions>
    <decisions>
        <name>User_Profile</name>
        <label>User Profile</label>
        <locationX>899</locationX>
        <locationY>814</locationY>
        <defaultConnector>
            <targetReference>Error_Users</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Admin</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Profile.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Administrateur système</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Profile.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>System Administrator</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Error_Admin</targetReference>
            </connector>
            <label>Is Admin</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>currentDateTime</name>
        <dataType>DateTime</dataType>
        <expression>{!$Flow.CurrentDateTime}</expression>
    </formulas>
    <interviewLabel>Service-ClientsServiceNow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Service Clients sync Case to ServiceNow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Case_Record</name>
        <label>Get Case Record</label>
        <locationX>381</locationX>
        <locationY>894</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Success_ServiceNow</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Case_Record_Init</name>
        <label>Get Case Record Init</label>
        <locationX>584</locationX>
        <locationY>182</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Already_synced</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Create_Service_Now_Incident</name>
        <label>ServiceNow</label>
        <locationX>866</locationX>
        <locationY>330</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Sync_Case_to_ServiceNow</targetReference>
        </connector>
        <fields>
            <name>Label</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;{!$Label.ServiceNow_Name}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Case_Category</name>
            <choiceReferences>Courses_U</choiceReferences>
            <choiceReferences>Magasin_U</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Catégorie</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Commentaire</name>
            <fieldText>Commentaire</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Send Case to ServiceNow</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Error_Admin</name>
        <label>Error</label>
        <locationX>798</locationX>
        <locationY>1016</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Copy_1_of_Error_Message_Output</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px; color: rgb(255, 0, 0);&quot;&gt;&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;&lt;/strong&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Erreur:&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;﻿&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;{!Sync_Case_to_ServiceNow.errorMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Send Case to ServiceNow</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Error_Users</name>
        <label>Error</label>
        <locationX>1050</locationX>
        <locationY>1007</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Copy_2_of_Error_Message_Output</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(255, 0, 0); font-size: 14px;&quot;&gt;﻿&lt;/strong&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Erreur:&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;﻿&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;{!$Label.SC_ServiceNow_Sync_Error_Message}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Send Case to ServiceNow</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Success_ServiceNow</name>
        <label>Success ServiceNow</label>
        <locationX>439</locationX>
        <locationY>1199</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Copy_1_of_Label</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;{!$Label.ServiceNow_Name}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Success_ServiceNow_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Success_ServiceNow_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ServiceNowStatusDisplay</name>
                    <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;{!Get_Case_Record.ServiceNowStatus__c}&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Success_ServiceNow_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>DateSync</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;Date: &lt;/span&gt;&lt;strong style=&quot;font-size: 12px;&quot;&gt;{!Get_Case_Record.Service_Now_Status_Update_Date__c}&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Success_ServiceNow_AlreadyClosed</name>
        <label>Success ServiceNow AlreadyClosed</label>
        <locationX>339</locationX>
        <locationY>417</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_Parent_Incident_Id_to_Var</targetReference>
        </connector>
        <fields>
            <name>Copy_1_of_Label_0</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;{!$Label.ServiceNow_Name}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Success_ServiceNow_AlreadyClosed_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Success_ServiceNow_AlreadyClosed_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ServiceNowStatusDisplay_AlreadyClosed</name>
                    <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;{!Get_Case_Record_Init.ServiceNowStatus__c}&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Success_ServiceNow_AlreadyClosed_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>DateSync_AlreadyClosed</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;Date: &lt;/span&gt;&lt;strong style=&quot;font-size: 12px;&quot;&gt;{!Get_Case_Record_Init.Service_Now_Status_Update_Date__c}&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Ouvrir un nouveau ticket OASIS</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>458</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Get_Case_Record_Init</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vParentIncidentID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
</Flow>
