force-app/main/default/flows/Service_Clients_Case_Assignment_Email.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Set_Lyon_Queue_Id</name>
        <label>Set Lyon Queue Id</label>
        <locationX>798</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>Lyon_Queue_Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Queue_Loop.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Queue_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Niveau_1_Queue_Id</name>
        <label>Set Niveau 1 Queue Id</label>
        <locationX>1062</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>Niveau_1_Queue_Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Queue_Loop.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Queue_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Niveau_2_Queue_Id</name>
        <label>Set Niveau 2 Queue Id</label>
        <locationX>1326</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>Niveau_2_Queue_Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Queue_Loop.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Queue_Loop</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Case_Status_Reset_Checks</name>
        <label>Case Status Reset Checks</label>
        <locationX>874</locationX>
        <locationY>1080</locationY>
        <defaultConnector>
            <targetReference>Email_Source</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Back_To_New</name>
            <conditionLogic>1 AND 2 AND (3 OR 4) AND 5</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Incoming</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>5</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Parent.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Parent.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Hors délais</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Parent.Ticket_Type__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Lyon</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Case_Status</targetReference>
            </connector>
            <label>Back To New</label>
        </rules>
    </decisions>
    <decisions>
        <name>Email_Source</name>
        <label>Email Source</label>
        <locationX>710</locationX>
        <locationY>1187</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Lyon_Email</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ToAddress</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>coursesulyon.chezvous@systeme-u.fr</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ToAddress</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>coursesulyon.chezvous@cooperative-u.fr</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Lyon_Case</targetReference>
            </connector>
            <label>Is Lyon Email</label>
        </rules>
        <rules>
            <name>Is_Code_Promo_Email</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ToAddress</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>udrive_codepromo@systeme-u.fr</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ToAddress</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>udrive_codepromo@cooperative-u.fr</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Code_Promo_Email_Case</targetReference>
            </connector>
            <label>Is Code Promo Email</label>
        </rules>
        <rules>
            <name>Is_RGPD_Email</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ToAddress</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>contact_donnees_personnelles@systeme-u.fr</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ToAddress</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>contact_donnees_personnelles@cooperative-u.fr</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_RGPD_Email_Case</targetReference>
            </connector>
            <label>Is RGPD Email</label>
        </rules>
        <rules>
            <name>Carte_U_Email_Case</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Subject</leftValueReference>
                <operator>EndsWith</operator>
                <rightValue>
                    <stringValue>Demande liée à la carte U</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Carte_U_Email_Case</targetReference>
            </connector>
            <label>Carte U Email Case</label>
        </rules>
        <rules>
            <name>Contact_Magasins_U</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ToAddress</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue> contact@magasins-u.com</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ToAddress</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>contact@cooperative-u.fr</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Compte_Magasins_U_Email_Case</targetReference>
            </connector>
            <label>Contact Magasins U</label>
        </rules>
    </decisions>
    <decisions>
        <name>Queue_Type</name>
        <label>Queue Type</label>
        <locationX>1194</locationX>
        <locationY>587</locationY>
        <defaultConnector>
            <targetReference>Queue_Loop</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Lyon</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Queue_Loop.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Service_Client_Lyon</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Lyon_Queue_Id</targetReference>
            </connector>
            <label>Lyon</label>
        </rules>
        <rules>
            <name>Niveau_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Queue_Loop.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>File_d_attente_Niveau_1</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Niveau_1_Queue_Id</targetReference>
            </connector>
            <label>Niveau 1</label>
        </rules>
        <rules>
            <name>Niveau_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Queue_Loop.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>File_d_attente_Niveau_2</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Niveau_2_Queue_Id</targetReference>
            </connector>
            <label>Niveau 2</label>
        </rules>
    </decisions>
    <description>Updated Case Source decision element for To Addresses to include both @systeme-u.fr &amp; @cooperative-u.fr email extensions</description>
    <environments>Default</environments>
    <interviewLabel>Service Clients Case Assignment Email {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Service Clients Case Assignment Email</label>
    <loops>
        <name>Queue_Loop</name>
        <label>Queues Loop</label>
        <locationX>710</locationX>
        <locationY>479</locationY>
        <collectionReference>Get_User_Queues</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Queue_Type</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Lyon_Record_Type</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Central_Record_Type</name>
        <label>Get Central Record Type</label>
        <locationX>575</locationX>
        <locationY>1021</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Case_Status_Reset_Checks</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CustomerCase</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Lyon_Record_Type</name>
        <label>Get Lyon Record Type</label>
        <locationX>710</locationX>
        <locationY>971</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Central_Record_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Demande_client_Lyon</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_User_Queues</name>
        <label>Get User Queues</label>
        <locationX>710</locationX>
        <locationY>371</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Queue_Loop</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3 OR 4)</filterLogic>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Service_Client_Lyon</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>File_d_attente_Niveau_1</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>File_d_attente_Niveau_2</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Carte_U_Email_Case</name>
        <label>Update Carte U Email Case</label>
        <locationX>842</locationX>
        <locationY>1295</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ParentId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <stringValue>Email</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Niveau_1_Queue_Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_Central_Record_Type.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Ticket_Type__c</field>
            <value>
                <stringValue>U Central</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Carte U</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Case_Status</name>
        <label>Update Case Status</label>
        <locationX>1112</locationX>
        <locationY>1023</locationY>
        <connector>
            <targetReference>Email_Source</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ParentId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Code_Promo_Email_Case</name>
        <label>Update Code Promo Email Case</label>
        <locationX>314</locationX>
        <locationY>1294</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ParentId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <stringValue>Email</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Niveau_2_Queue_Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_Central_Record_Type.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Ticket_Type__c</field>
            <value>
                <stringValue>U Central</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Informations générales</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Compte_Magasins_U_Email_Case</name>
        <label>Update Compte Magasins U Email Case</label>
        <locationX>1106</locationX>
        <locationY>1295</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ParentId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <stringValue>Email</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Niveau_1_Queue_Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_Central_Record_Type.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Ticket_Type__c</field>
            <value>
                <stringValue>U Central</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Compte Magasin U</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Lyon_Case</name>
        <label>Update Lyon Case</label>
        <locationX>50</locationX>
        <locationY>1295</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ParentId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <stringValue>Email</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Lyon_Queue_Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_Lyon_Record_Type.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Ticket_Type__c</field>
            <value>
                <stringValue>Lyon</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Compte Courses U</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_RGPD_Email_Case</name>
        <label>Update RGPD Email Case</label>
        <locationX>578</locationX>
        <locationY>1295</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ParentId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <stringValue>Email</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Niveau_2_Queue_Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_Central_Record_Type.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Ticket_Type__c</field>
            <value>
                <stringValue>U Central</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>RGPD</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <start>
        <locationX>584</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Get_User_Queues</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Incoming</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>ParentId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>EmailMessage</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>Lyon_Queue_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Niveau_1_Queue_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Niveau_2_Queue_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vStatusCase</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Record.Parent.Status</elementReference>
        </value>
    </variables>
</Flow>
