force-app/main/default/flows/Service_Clients_Case_Assignment.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Set_Lyon_Queue_Id</name>
        <label>Set Lyon Queue Id</label>
        <locationX>5418</locationX>
        <locationY>863</locationY>
        <assignmentItems>
            <assignToReference>Lyon_Queue_Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Queues_Loop.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Queues_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Niveau_1_Queue_Id</name>
        <label>Set Niveau 1 Queue Id</label>
        <locationX>5682</locationX>
        <locationY>863</locationY>
        <assignmentItems>
            <assignToReference>Niveau_1_Queue_Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Queues_Loop.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Queues_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Niveau_2_Queue_Id</name>
        <label>Set Niveau 2 Queue Id</label>
        <locationX>5946</locationX>
        <locationY>863</locationY>
        <assignmentItems>
            <assignToReference>Niveau_2_Queue_Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Queues_Loop.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Queues_Loop</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Assign_To_Lyon</name>
        <label>Assign To Lyon</label>
        <locationX>1238</locationX>
        <locationY>1571</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Lyon_Case_Subject</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Subject</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Demande liée à un produit</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Subject</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Demande liée à une commande</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Subject</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Demande liée à une livraison</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Subject</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Suggérer un produit</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Lyon_Case</targetReference>
            </connector>
            <label>Is Lyon Case Subject</label>
        </rules>
        <rules>
            <name>Lyon_Demande_li_e_au_site</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Subject</leftValueReference>
                <operator>EndsWith</operator>
                <rightValue>
                    <stringValue>Demande liée au site</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lyon_Update_Demande_li_e_au_site</targetReference>
            </connector>
            <label>Lyon Demande liée au site</label>
        </rules>
        <rules>
            <name>Lyon_Demande_li_e_la_carte_U</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Subject</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Demande liée à la carte U</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Source:EmailMessage.ToAddress</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>coursesulyon.chezvous@systeme-u.fr</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Source:EmailMessage.ToAddress</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>coursesulyon.chezvous@cooperative-u.fr</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lyon_Update_Demande_li_e_la_carte_U</targetReference>
            </connector>
            <label>Lyon Demande liée à la carte U</label>
        </rules>
        <rules>
            <name>Lyon_Code_Promo</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Subject</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Code Promo</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lyon_Update_Code_Promo</targetReference>
            </connector>
            <label>Lyon Code Promo</label>
        </rules>
        <rules>
            <name>Lyon_Suppression_de_compte</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Subject</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Suppression de compte</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lyon_Update_Suppression_de_compte</targetReference>
            </connector>
            <label>Lyon Suppression de compte</label>
        </rules>
    </decisions>
    <decisions>
        <name>Case_Source</name>
        <label>Case Source</label>
        <locationX>5330</locationX>
        <locationY>1139</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Web</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SourceId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Case_Type</targetReference>
            </connector>
            <label>Web</label>
        </rules>
    </decisions>
    <decisions>
        <name>Case_Type</name>
        <label>Case Type Web</label>
        <locationX>3482</locationX>
        <locationY>1247</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Manual_Cases_Centrale</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$User.Profile_Id__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>00e0Q000000MY1y</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$User.Profile_Id__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>00e2p000001Z3KB</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$User.Profile_Id__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>00e2p000001Z3KG</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Centrale_Manual_Cases</targetReference>
            </connector>
            <label>Manual Cases Centrale</label>
        </rules>
        <rules>
            <name>Manual_Cases_Lyon</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$User.Profile_Id__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>00e2p000001Z3Pa</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$User.Profile_Id__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>00e2p000001Z3Pf</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Lyon_Manual_Case</targetReference>
            </connector>
            <label>Manual Cases Lyon</label>
        </rules>
        <rules>
            <name>Courses_U</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Subject</leftValueReference>
                <operator>EndsWith</operator>
                <rightValue>
                    <stringValue>Demande liée au site</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Subject</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Demande liée à la carte U</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Subject</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Code Promo</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Subject</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Demande relative aux données personnelles</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Subject</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Demande liée à un produit</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Subject</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Demande liée à une commande</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Subject</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Demande liée à une livraison</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Subject</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Suggérer un produit</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Subject</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ventes Privées U et U Réservation</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Lyon_Store</targetReference>
            </connector>
            <label>Courses U</label>
        </rules>
        <rules>
            <name>Magasins_U</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Subject</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Demande liée aux bons de réduction à imprimer</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Subject</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Demande liée aux jeux</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Subject</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Demande liée à la connexion</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Subject</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Demande liée à la CARTE U</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Subject</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Demande liée à U PAIEMENT</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Subject</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Demande liée aux données personnelles</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Subject</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Demande liée à votre compte client</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Subject</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Demande liée à la carte U</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Subject</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Demande liée aux E-tickets</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Subject</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Demande d’informations générales</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Subject</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Demande d&apos;informations générales</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Central_Record_Type_MU</targetReference>
            </connector>
            <label>Magasins U</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Lyon_Store</name>
        <label>Is Lyon Store</label>
        <locationX>2030</locationX>
        <locationY>1355</locationY>
        <defaultConnector>
            <targetReference>Update_Central_Record_Type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Lyon_Store</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Store__r.StoreId__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>66128</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Lyon_Record_Type</targetReference>
            </connector>
            <label>Lyon Store</label>
        </rules>
    </decisions>
    <decisions>
        <name>Magasins_U_Case_Subject</name>
        <label>Magasins U Case Subject</label>
        <locationX>5198</locationX>
        <locationY>1463</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Demande_li_e_aux_bons_de_r_duction_imprimer</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Subject</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Demande liée aux bons de réduction à imprimer</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Magasins_U_Update_Demande_li_e_aux_bons_de_r_duction_imprimer</targetReference>
            </connector>
            <label>Demande liée aux bons de réduction à imprimer</label>
        </rules>
        <rules>
            <name>Demande_li_e_aux_jeux</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Subject</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Demande liée aux jeux</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Magasins_U_Update_Demande_li_e_aux_jeux</targetReference>
            </connector>
            <label>Demande liée aux jeux</label>
        </rules>
        <rules>
            <name>Demande_li_e_la_connexion</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Subject</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Demande liée à la connexion</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Magasins_U_Update_Demande_li_e_la_connexion</targetReference>
            </connector>
            <label>Demande liée à la connexion</label>
        </rules>
        <rules>
            <name>Demande_li_e_la_CARTE_U</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Subject</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Demande liée à la carte U</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Magasins_U_Update_Demande_li_e_la_CARTE_U</targetReference>
            </connector>
            <label>Demande liée à la CARTE U</label>
        </rules>
        <rules>
            <name>Demande_li_e_aux_e_tickets1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Subject</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Demande liée aux e-tickets</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Magasins_U_Update_Demande_li_e_U_PAIEMENT</targetReference>
            </connector>
            <label>Demande liée aux e-tickets</label>
        </rules>
        <rules>
            <name>Demande_li_e_aux_donn_es_personnelles</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Subject</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Demande liée aux données personnelles</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Magasins_U_Update_Case_By_Sub_Category</targetReference>
            </connector>
            <label>Demande liée aux données personnelles</label>
        </rules>
        <rules>
            <name>Demande_li_e_votre_compte_client</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Subject</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Demande liée à votre compte client</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Magasins_U_Update_Demande_li_e_votre_compte_client</targetReference>
            </connector>
            <label>Demande liée à votre compte client</label>
        </rules>
        <rules>
            <name>Demande_li_e_la_carteU</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Subject</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Demande liée à la carte U</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Magasins_U_Update_Demande_li_e_lacarte_U</targetReference>
            </connector>
            <label>Demande liée à la carte U</label>
        </rules>
        <rules>
            <name>Demande_li_e_aux_E_tickets</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Subject</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Demande liée aux E-tickets</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Magasins_U_Update_Demande_li_e_aux_E_tickets</targetReference>
            </connector>
            <label>Demande liée aux E-tickets</label>
        </rules>
        <rules>
            <name>Demande_d_informations_g_n_rales</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Subject</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Demande d’informations générales</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Subject</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Demande d&apos;informations générales</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Magasins_U_Update_Demande_d_informations_g_n_rales</targetReference>
            </connector>
            <label>Demande d’informations générales</label>
        </rules>
    </decisions>
    <decisions>
        <name>Magasins_U_Update_Case_By_Sub_Category</name>
        <label>Magasins U Update Case By Sub Category</label>
        <locationX>5198</locationX>
        <locationY>1571</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Update_Case_Demande_li_e_aux_donn_es_personnelles</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Email_Category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Droit de rectification / modification données clients</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Email_Category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Droit d&apos;opposition</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Email_Category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Droit de suppression</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Email_Category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Droit de portabilité</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Email_Category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Droit d&apos;accès</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Email_Category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Autre (RGPD)</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Magasins_U_Update_Demande_li_e_aux_donn_es_personnelles</targetReference>
            </connector>
            <label>Update Case Demande liée aux données personnelles</label>
        </rules>
    </decisions>
    <decisions>
        <name>Other_Stores</name>
        <label>Other Stores</label>
        <locationX>2822</locationX>
        <locationY>1571</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Other_Demande_li_e_au_site</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Subject</leftValueReference>
                <operator>EndsWith</operator>
                <rightValue>
                    <stringValue>Demande liée au site</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Other_Update_Demande_li_e_au_site</targetReference>
            </connector>
            <label>Other Demande liée au site</label>
        </rules>
        <rules>
            <name>Other</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Subject</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Demande liée à la carte U</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Other_Update_Demande_li_e_la_carte_U</targetReference>
            </connector>
            <label>Other Demande liée à la carte U</label>
        </rules>
        <rules>
            <name>Other_Code_Promo</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Subject</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Code Promo</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Other_Update_Code_Promo</targetReference>
            </connector>
            <label>Other Code Promo</label>
        </rules>
        <rules>
            <name>Other_Demandes_relative_aux_donnees_personnelles</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Subject</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Demande relative aux données personnelles</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Other_Update_Demande_relative_aux_donnees_personnelles</targetReference>
            </connector>
            <label>Other Demande relative aux données personnelles</label>
        </rules>
        <rules>
            <name>Ventes_Priv_es_U_et_U_R_servation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Subject</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ventes Privées U et U Réservation</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Ventes_Priv_es_U_et_U_Reservation</targetReference>
            </connector>
            <label>Ventes Privées U et U Réservation</label>
        </rules>
    </decisions>
    <decisions>
        <name>Queue_Type</name>
        <label>Queue Type</label>
        <locationX>5814</locationX>
        <locationY>755</locationY>
        <defaultConnector>
            <targetReference>Queues_Loop</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Lyon</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Queues_Loop.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Service_Client_Lyon</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Lyon_Queue_Id</targetReference>
            </connector>
            <label>Lyon</label>
        </rules>
        <rules>
            <name>Niveau_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Queues_Loop.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>File_d_attente_Niveau_1</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Niveau_1_Queue_Id</targetReference>
            </connector>
            <label>Niveau 1</label>
        </rules>
        <rules>
            <name>Niveau_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Queues_Loop.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>File_d_attente_Niveau_2</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Niveau_2_Queue_Id</targetReference>
            </connector>
            <label>Niveau_2</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Service Clients Case Assignment {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Service Clients Case Assignment</label>
    <loops>
        <name>Queues_Loop</name>
        <label>Queues Loop</label>
        <locationX>5330</locationX>
        <locationY>647</locationY>
        <collectionReference>Get_User_Queues</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Queue_Type</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Case_Source</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Central_Record_Type</name>
        <label>Get Central Record Type</label>
        <locationX>5330</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Queues_Loop</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CustomerCase</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Lyon_Record_Type</name>
        <label>Get Lyon Record Type</label>
        <locationX>5330</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Central_Record_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Demande_client_Lyon</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_User_Queues</name>
        <label>Get User Queues</label>
        <locationX>5330</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Lyon_Record_Type</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3 OR 4)</filterLogic>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Service_Client_Lyon</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>File_d_attente_Niveau_1</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>File_d_attente_Niveau_2</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Assign_Lyon_Case</name>
        <label>Assign Lyon Case</label>
        <locationX>578</locationX>
        <locationY>1679</locationY>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <stringValue>Web</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Lyon_Queue_Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Ticket_Type__c</field>
            <value>
                <stringValue>Lyon</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Compte Courses U</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Lyon_Update_Code_Promo</name>
        <label>Lyon Update Code Promo</label>
        <locationX>1370</locationX>
        <locationY>1679</locationY>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <stringValue>Web</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Niveau_2_Queue_Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Ticket_Type__c</field>
            <value>
                <stringValue>U Central</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Informations générales</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Lyon_Update_Demande_li_e_au_site</name>
        <label>Lyon Update Demande liée au site</label>
        <locationX>842</locationX>
        <locationY>1679</locationY>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <stringValue>Web</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Niveau_1_Queue_Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Ticket_Type__c</field>
            <value>
                <stringValue>U Central</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Compte Courses U</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Lyon_Update_Demande_li_e_la_carte_U</name>
        <label>Lyon Update Demande liée à la carte U</label>
        <locationX>1106</locationX>
        <locationY>1679</locationY>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <stringValue>Web</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Niveau_1_Queue_Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Ticket_Type__c</field>
            <value>
                <stringValue>U Central</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Carte U</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Lyon_Update_Suppression_de_compte</name>
        <label>Lyon Update Suppression de compte</label>
        <locationX>1634</locationX>
        <locationY>1679</locationY>
        <inputAssignments>
            <field>Email_Category__c</field>
            <value>
                <stringValue>Droit de suppression</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <stringValue>Web</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Niveau_2_Queue_Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Ticket_Type__c</field>
            <value>
                <stringValue>U Central</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>RGPD</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Magasins_U_Update_Demande_d_informations_g_n_rales</name>
        <label>Magasins U Update Demande d’informations générales</label>
        <locationX>6386</locationX>
        <locationY>1571</locationY>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <stringValue>Web</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Niveau_1_Queue_Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Ticket_Type__c</field>
            <value>
                <stringValue>U Central</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Informations générales</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Magasins_U_Update_Demande_li_e_aux_bons_de_r_duction_imprimer</name>
        <label>Magasins U Update Demande liée aux bons de réduction à imprimer</label>
        <locationX>3746</locationX>
        <locationY>1571</locationY>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <stringValue>Web</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Niveau_1_Queue_Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Ticket_Type__c</field>
            <value>
                <stringValue>U Central</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Informations générales</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Magasins_U_Update_Demande_li_e_aux_donn_es_personnelles</name>
        <label>Magasins U Update Demande liée aux données personnelles</label>
        <locationX>5066</locationX>
        <locationY>1679</locationY>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <stringValue>Web</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Niveau_2_Queue_Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Ticket_Type__c</field>
            <value>
                <stringValue>U Central</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>RGPD</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Magasins_U_Update_Demande_li_e_aux_E_tickets</name>
        <label>Magasins U Update Demande liée aux E-tickets</label>
        <locationX>6122</locationX>
        <locationY>1571</locationY>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <stringValue>Web</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Niveau_1_Queue_Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Ticket_Type__c</field>
            <value>
                <stringValue>U Central</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>E-ticket</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Magasins_U_Update_Demande_li_e_aux_jeux</name>
        <label>Magasins U Update Demande liée aux jeux</label>
        <locationX>4010</locationX>
        <locationY>1571</locationY>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <stringValue>Web</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Niveau_1_Queue_Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Ticket_Type__c</field>
            <value>
                <stringValue>U Central</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Informations générales</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Magasins_U_Update_Demande_li_e_la_CARTE_U</name>
        <label>Magasins U Update Demande liée à la CARTE U</label>
        <locationX>4538</locationX>
        <locationY>1571</locationY>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <stringValue>Web</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Niveau_1_Queue_Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Ticket_Type__c</field>
            <value>
                <stringValue>U Central</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Carte U</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Magasins_U_Update_Demande_li_e_la_connexion</name>
        <label>Magasins U Update Demande liée à la connexion</label>
        <locationX>4274</locationX>
        <locationY>1571</locationY>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <stringValue>Web</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Niveau_1_Queue_Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Ticket_Type__c</field>
            <value>
                <stringValue>U Central</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Compte Magasin U</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Magasins_U_Update_Demande_li_e_lacarte_U</name>
        <label>Magasins U Update Demande liée à la carte U</label>
        <locationX>5858</locationX>
        <locationY>1571</locationY>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <stringValue>Web</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Niveau_1_Queue_Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Ticket_Type__c</field>
            <value>
                <stringValue>U Central</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Carte U</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Magasins_U_Update_Demande_li_e_U_PAIEMENT</name>
        <label>Magasins U Update Demande liée à U PAIEMENT</label>
        <locationX>4802</locationX>
        <locationY>1571</locationY>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <stringValue>Web</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Niveau_1_Queue_Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Ticket_Type__c</field>
            <value>
                <stringValue>U Central</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>E-ticket</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Magasins_U_Update_Demande_li_e_votre_compte_client</name>
        <label>Magasins U Update Demande liée à votre compte client</label>
        <locationX>5594</locationX>
        <locationY>1571</locationY>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <stringValue>Web</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Niveau_1_Queue_Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Ticket_Type__c</field>
            <value>
                <stringValue>U Central</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Compte Magasin U</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Other_Update_Code_Promo</name>
        <label>Other Update Code Promo</label>
        <locationX>2690</locationX>
        <locationY>1679</locationY>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <stringValue>Web</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Niveau_2_Queue_Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Ticket_Type__c</field>
            <value>
                <stringValue>U Central</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Compte Courses U</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Other_Update_Demande_li_e_au_site</name>
        <label>Other Update Demande liée au site</label>
        <locationX>2162</locationX>
        <locationY>1679</locationY>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <stringValue>Web</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Niveau_1_Queue_Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Ticket_Type__c</field>
            <value>
                <stringValue>U Central</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Compte Magasin U</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Other_Update_Demande_li_e_la_carte_U</name>
        <label>Other Update Demande liée à la carte U</label>
        <locationX>2426</locationX>
        <locationY>1679</locationY>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <stringValue>Web</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Niveau_1_Queue_Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Ticket_Type__c</field>
            <value>
                <stringValue>U Central</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Carte U</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Other_Update_Demande_relative_aux_donnees_personnelles</name>
        <label>Other Update Demande relative aux données personnelles</label>
        <locationX>2954</locationX>
        <locationY>1679</locationY>
        <inputAssignments>
            <field>Email_Category__c</field>
            <value>
                <stringValue>Droit de suppression</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <stringValue>Web</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Niveau_2_Queue_Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Ticket_Type__c</field>
            <value>
                <stringValue>U Central</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>RGPD</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Central_Record_Type</name>
        <label>Update Central Record Type</label>
        <locationX>2822</locationX>
        <locationY>1463</locationY>
        <connector>
            <targetReference>Other_Stores</targetReference>
        </connector>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_Central_Record_Type.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Central_Record_Type_MU</name>
        <label>Update Central Record Type -MU</label>
        <locationX>5198</locationX>
        <locationY>1355</locationY>
        <connector>
            <targetReference>Magasins_U_Case_Subject</targetReference>
        </connector>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_Central_Record_Type.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Centrale_Manual_Cases</name>
        <label>Update Centrale Manual Cases</label>
        <locationX>50</locationX>
        <locationY>1355</locationY>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_Central_Record_Type.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Ticket_Type__c</field>
            <value>
                <stringValue>U Central</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Lyon_Manual_Case</name>
        <label>Update Lyon Manual Case</label>
        <locationX>314</locationX>
        <locationY>1355</locationY>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Lyon_Queue_Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_Lyon_Record_Type.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Ticket_Type__c</field>
            <value>
                <stringValue>Lyon</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Compte Courses U</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Lyon_Record_Type</name>
        <label>Update Lyon Record Type</label>
        <locationX>1238</locationX>
        <locationY>1463</locationY>
        <connector>
            <targetReference>Assign_To_Lyon</targetReference>
        </connector>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_Lyon_Record_Type.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Ventes_Priv_es_U_et_U_Reservation</name>
        <label>Ventes Privées U et U Réservation</label>
        <locationX>3218</locationX>
        <locationY>1679</locationY>
        <inputAssignments>
            <field>Email_Category__c</field>
            <value>
                <stringValue>Participation jeu</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <stringValue>Web</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Niveau_1_Queue_Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Ticket_Type__c</field>
            <value>
                <stringValue>U Central</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Informations générales</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>5204</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_User_Queues</targetReference>
        </connector>
        <object>Case</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <triggerOrder>600</triggerOrder>
    <variables>
        <name>Lyon_Queue_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Niveau_1_Queue_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Niveau_2_Queue_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Queues</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Group</objectType>
    </variables>
</Flow>
